include ../title/title
include ../video/video

mixin video-showcase-block(options)
    -
        options = options || {};
        const {videoData = {}} = options;
    .block
        .block__title
            +title({text: "Video", level: 3})
        .block__el.block__el_margin_video
            +video(videoData)