.dropdown__option
  position: relative
  padding: .35rem .9rem .5rem .9rem
  cursor: pointer;
  color: #888888
  transition: .3s all
  text-decoration: underline

.dropdown__option:hover
  background-color: #4eb7a8
  color: white

.dropdown__option:focus
  background-color: #4eb7a8
  color: white