mixin formMix(options)
	-
		var options = options ? options : {};
		var name 	= options.name ? options.name : 'form';

	form.form(name=name)&attributes(attributes)
		if block
			block

mixin formElMix(options)
	-
		var options = options ? options : {};

	.form__el&attributes(attributes)
		if block
			block

mixin formElTextMix(options)
	-
		var options = options ? options : {};
	em.form__elText&attributes(attributes)
		if block
			block

mixin formElEntryMix(options)
	-
		var options = options ? options : {};
		var size = options.size ? options.size : 'auto';
	.form__elEntry(class='' + (' form__elEntry_size_' + size))&attributes(attributes)
		if block
			block

mixin formSubmit(options)
	-
		var options = options ? options : {};
	.form__submit&attributes(attributes)
		if block
			block