@font-face {
  font-family: "Lato";
  font-weight: 450;
  src: url("../fonts/Lato-Regular.otf") format("opentype"),  url("../fonts/Lato-Regular.eot?#") format("eot"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../images/Lato-Regular.svg") format("svg")
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url("../fonts/Lato-Black.otf") format("opentype"),  url("../fonts/Lato-Black.eot?#") format("eot"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.woff") format("woff"), url("../images/Lato-Black.svg") format("svg")
}

@font-face {
  font-family: "Lato";
  font-weight: 200;
  src: url("../fonts/Lato-Light.otf") format("opentype"),  url("../fonts/Lato-Light.eot?#") format("eot"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.woff") format("woff"), url("../images/Lato-Light.svg") format("svg")
}

html
  color: #4f4f4f
  font-size: 11pt
  font-family: Lato
  font-weight: 450
  @media screen and (max-width: 560px)
    font-size: 10pt
  @media screen and (max-width: 500px)
    font-size: 9pt
  @media screen and (max-width: 450px)
    font-size: 8pt
  @media screen and (max-width: 400px)
    font-size: 7pt

body
  margin: 0
  padding: 3.5rem

span
  font-family: Lato
  font-weight: bold

button
  padding: 0
  border: none; outline: none
  background-color: transparent
  cursor: pointer

figure
  margin: 0

h2
  font-weight: normal

p, em, h1, h2, h3, hr
  margin: 0
  padding: 0

text
  font-size: initial
  dominant-baseline: middle

textarea
  resize: none