@font-face {
	font-family: Lato-regular
	src: url('../fonts/Lato-regular.otf') format("opentype"),  url('../fonts/Lato-regular.eot?#') format("eot"), url('../fonts/Lato-regular.ttf') format("truetype"), url('../fonts/Lato-regular.woff') format("woff"), url('../images/Lato-regular.svg') format("svg")
}

@font-face {
	font-family: Lato-black
	src: url('../fonts/Lato-black.otf') format("opentype"),  url('../fonts/Lato-black.eot?#') format("eot"), url('../fonts/Lato-black.ttf') format("truetype"), url('../fonts/Lato-black.woff') format("woff"), url('../images/Lato-black.svg') format("svg")
}

@font-face {
	font-family: Lato-light
	src: url('../fonts/Lato-light.otf') format("opentype"),  url('../fonts/Lato-light.eot?#') format("eot"), url('../fonts/Lato-light.ttf') format("truetype"), url('../fonts/Lato-light.woff') format("woff"), url('../images/Lato-light.svg') format("svg")
}

html
	color: #4f4f4f
	font-size: 11pt
	font-family: Lato-regular

body
	/*margin: 0*/

span
	font-family: Lato-black

button
	padding: 0
	border: none; outline: none
	background-color: transparent
	cursor: pointer

figure
	margin: 0