include ../input/input

mixin searchbar(options)
    -
        options = options || {};
        const {name = "searchbar"} = options;
    .searchbar.js-searchbar(data-type=type data-name=name)
        .searchbar__outer
            .searchbar__input.js-searchbar__input
                +input({type: "text", name: "search", color: "orange", placeholder: "Search query", radius: "left"})
            .searchbar__button.js-searchbar__button
                svg(width="100%" height="100%" viewbox="0 0 28 28")
                    g
                        circle(r="4" stroke-width="2" fill="transparent" stroke="white" cx="14" cy="13")
                        rect(width="6" height="3" x="23" y="-2" transform="rotate(45)" fill="white")
