.user_theme_gray .user__info
  background-color: #e5e5e5
  border-color: #e5e5e5

.user_theme_gray .user__name
  color: #e75735

.user_theme_gray .user__profession
  color: #4f4f4f

.user_theme_gray .user__social
  fill: #757575

.user_theme_gray .user__social:hover
.user_theme_gray .user__social:focus
  fill: #e75735
