.user_theme_aquamarine .user__info
	background-color: #4eb7a8
	border-color: #4eb7a8

.user_theme_aquamarine .user__name
	color: white

.user_theme_aquamarine .user__profession
	color: white

.user_theme_aquamarine .user__social
	fill: white

.user_theme_aquamarine .user__social:hover
.user_theme_aquamarine .user__social:focus
	fill: #e75735
