mixin map(options)
    -
        options = options || {};
        const {title = "title", coordinates = {}, street = "street", city = "city"} = options;
    .map.js-map(data-coordinates=coordinates)
        .map__outer
            .map__holder.js-map__holder
            .map__overlay
                em.map__title= title
                .map__adressBox
                    em.map__adress= street
                    em.map__adress= city
                button.map__button.map__button_type_marker.js-map__button_type_marker
                button.map__button.map__button_type_me.js-map__button_type_me