include ../title/title
include ../button/button

mixin header(options)
    -
        options = options || {};
        const {title = "title"} = options;
    header.header
        +title({text: title, level: 1})
        nav.header__nav
            a.header__link(href="./index.html")
                +button({form: "boxMini", content:"home", theme: "aquamarine"})
            a.header__link(href="./about.html")
                +button({form: "boxMini", content:"about", theme: "aquamarine"})
            a.header__link(href="./contacts.html")
                +button({form: "boxMini", content:"contacts", theme: "aquamarine"})
            a.header__link(href="./uikit.html")
                +button({form: "boxMini", content:"ui kit", theme: "aquamarine"})