/* Outer */
.button_theme_blocked
  cursor: default
.button_theme_blocked .button__outer
  background-color: #e5e5e5

.button_theme_blocked:hover .button__outer
.button_theme_blocked:focus .button__outer
.button_theme_blocked:active .button__outer
  background-color: #e5e5e5

/* Inner */
.button_theme_blocked .button__inner
  background-color: #e5e5e5
  border-color: #e5e5e5

/* Content */
.button_theme_blocked .button__content
  color: white
  fill: white