/* Outer */
.button_theme_aquamarine .button__outer
  background-color: #4eb7a8

.button_theme_aquamarine:hover .button__outer
.button_theme_aquamarine:focus .button__outer
.button_theme_aquamarine:active .button__outer
  background-color: #28a290

/* Inner */
.button_theme_aquamarine .button__inner
  background-color: white
  border-color: #4eb7a8

.button_theme_aquamarine:hover .button__inner
.button_theme_aquamarine:focus .button__inner
.button_theme_aquamarine:active .button__inner
  background-color: #4eb7a8

/* Content */
.button_theme_aquamarine .button__content
  color: #4eb7a8
  fill: #4eb7a8

.button_theme_aquamarine:hover .button__content
.button_theme_aquamarine:focus .button__content
.button_theme_aquamarine:active .button__content
  color: white
  fill: white