/* Outer */
.button_theme_orange .button__outer
	background-color: #e75735

.button_theme_orange:hover .button__outer
.button_theme_orange:focus .button__outer
.button_theme_orange:active .button__outer
	background-color: #bf3e1f

/* Inner */
.button_theme_orange .button__inner
	background-color: white
	border-color: #e75735

.button_theme_orange:hover .button__inner
.button_theme_orange:focus .button__inner
.button_theme_orange:active .button__inner
	background-color: #e75735

/* Content */
.button_theme_orange .button__content
	color: #e34a26
	fill: #e34a26

.button_theme_orange:hover .button__content
.button_theme_orange:focus .button__content
.button_theme_orange:active .button__content
	color: white
	fill: white