/* Outer */
.button_theme_aquamarineAlternate .button__outer
	background-color: #28a290

.button_theme_aquamarineAlternate:hover .button__outer
.button_theme_aquamarineAlternate:focus .button__outer
.button_theme_aquamarineAlternate:active .button__outer
	background-color: #2b7a6e

/* Inner */
.button_theme_aquamarineAlternate .button__inner
	background-color: white
	border-color: #28a290

.button_theme_aquamarineAlternate:hover .button__inner
.button_theme_aquamarineAlternate:focus .button__inner
.button_theme_aquamarineAlternate:active .button__inner
	background-color: #249181
	border-color: #249181

/* Content */
.button_theme_aquamarineAlternate .button__content
	color: #4eb7a8
	fill: #4eb7a8

.button_theme_aquamarineAlternate:hover .button__content
.button_theme_aquamarineAlternate:focus .button__content
.button_theme_aquamarineAlternate:active .button__content
	color: white
	fill: white