.video__author
  display: block
  color: white
  font-size: .8rem
  font-family: Lato
  font-weight: bold
  font-style: normal
  text-transform: uppercase

.video__author::before
  content: 'from '