include ../button/button
include ../title/title

mixin buttons-showcase(options = {})
    -
        const {data = [], title = ""} = options;
    .buttons-showcase
        .buttons-showcase__title
            +title({text: title, level: 3})
        for buttonLine, index in data
            .buttons-showcase__el
                for buttonData in buttonLine
                    +button(buttonData)