.button__inner_color_orange
	background-color: white
	border-color: #e75735

.button:hover .button__inner_color_orange
	background-color: #e75735

.button:active .button__inner_color_orange
	background-color: #e75735