include ../title/title
include ../wrapper/wrapper
include ../slider/slider

mixin sliders-showcase-block(options)
    -
        options = options || {};
    .block
        .block__title
            +title({text: "Sliders", level: 3})
        .block__el.block__el_margin_normal
            +wrapper({centering: false})
                +slider({id: "sliderSimpleTest", size: "min"})
                +slider({id: "sliderPipsTest", size: "min"})