include ../icon/icon
include ../input/input
include ../button/button

mixin messenger(options)
    -
        var options = options ? options : {};
        var {
            size = "fixed",
            title = "title",
            logo = "",
            messages = [],
            sendButtonTheme = "aquamarine",
            inputPlaceholder = "Your message"
        } = options;
    .messenger&attributes(attributes)
        .messenger__header
            em.messenger__title= title
            .messenger__image
                +icon({image: logo, alt:"logo"})
        .messenger__body
            .messenger__modeBox
                button.messenger__mode.messenger__mode_type_text
                button.messenger__mode.messenger__mode_type_photo
            .messenger__chat
                for item in messages
                    p.messenger__message(class="" + ("messenger__message_sender_" + item.sender))= item.text
            .messenger__entry
                +input({form: "box", name: "entry", placeholder: inputPlaceholder})
            .messenger__send
                +button({text:"button", theme: sendButtonTheme})