.form-showcase
  &__wrapper
    margin-top: 3.2rem
    display: flex
    justify-content: space-between
    
  &__form
    width: 48.5%
    
  &__buttons-container
    width: 48.5%
    
  &__button
    margin-top: 2.5rem
    
    &:first-child
      margin-top: 0
  
  &__button-content
    margin-left: auto
    margin-right: auto
    margin-top: 2rem
    
    &_type_toggle
      width: 46%
      display: flex
      justify-content: space-between
      
    &_type_tick
      width: 22%
      display: flex
      justify-content: space-between