mixin buttonMix(params)
	-
		var type 	= params.type ? params.type : 'box',
			blocked	= params.blocked,
			color 	= blocked === true ? 'blocked' : params.color ? params.color : 'aquamarine',
			text = params.text ? params.text : "button",
			background = params.background ? params.background : 'rightArrow';

	button.button(class= "" +  ( blocked === true ? "button_blocked" : ""))
		.button__outer(class="" + 
				(" button__outer_type_" + type) + 
				(" button__outer_color_" + color))

			.button__inner(class="" +
					(" button__inner_type_" + type) + 
					(" button__inner_color_" + color))

				if blocked !== true
					.button__rippleEffect
					
				case type
					when 'box' 
					when 'boxMini'
						.button__content(class="" + 
								(" button__content_type_" + type) + 
								(" button__content_color_" + color))= text

					when 'round'
						svg.button__content(viewbox="0 0 44 44" 
							class="" +
								(" button__content_type_" + type) + 
								(" button__content_color_" + color))

							case background
								when 'rightArrow'
									g(transform="translate(25, 11) rotate(45)")
										rect(width="4" height="17")
										rect(width="17" height="4" y="13")

								when 'leftArrow'
									g(transform="translate(20, 11) rotate(45)")
										rect(width="4" height="17" x="13")
										rect(width="17" height="4")