//- Миксин создаёт блок выпадающего списка/блок поиска. Свойства:
//- "type" (string) ['search', 'dropdown'] - отвечает за тип элемента. По умолчанию - 'search'.
//- "name" (string) - отвечает за идентификацию элемента. По умолчанию - 'aquamarine'.
//- Для блока типа 'search' ожидается поле ввода.
//- Для блока типа 'dropdown' ожидаются пункты выпадающего списка.
mixin barMix(options)
    -
        var options = options ? options : {};
        var type = options.type ? options.type : 'search',
            color = type == 'search' ? 'orange' : 'aquamarine',
            name = options.name ? options.name : 'bar';
    .bar(data-type=type data-name=name)&attributes(attributes)
        .bar__outer
            case type
                when 'search'
                    .bar__input
                        if block
                            block
                    button.bar__button(class='' + ('bar__button_color_' + color))
                        svg(width="100%" height='100%' viewbox="0 0 28 28")
                            g
                                circle(r='4' stroke-width='2' fill='transparent' stroke="white" cx='14' cy="13")
                                rect(width="6" height="3" x='23' y='-2' transform="rotate(45)" fill='white')
                when 'dropdown'
                    .bar__dropdown
                        .bar__dropdownText Choose An Option
                        .bar__dropdownList.bar__dropdownList_state_hidden
                            if block
                                block
                    button.bar__button(class='' + ('bar__button_color_' + color))
                        svg(width="100%" height='100%' viewbox="0 0 28 28")
                            g(transform='translate(7, 12) rotate(-45)')
                                rect(height='10' width='2')
                                rect(height='2' width='10' y='8')
                            
//- Миксин создаёт пункт выпадающего списка. Свойства:
//- "value" (string) - отвечает за значение пункта. По умолчанию - 'unset'.
//- "text" (string) - отвечает за текст пункта. По умолчанию - 'text'.
mixin barOptionMix(options)
    -
        var options = options ? options : {};
        var value = options.value ? options.value : 'unset',
            text = options.text ? options.text : 'text';
    .bar__dropdownOption(data-value=value)&attributes(attributes)= text