//- Миксин создаёт календарь.
mixin calendarMix(options)
    -
        var options = options ? options : {};
        var date = new Date(),
            day = date.getDate()
    .calendar&attributes(attributes)
        .calendar__header
            .calendar__today= day
        .calendar__holder