//- Миксин создаёт заголовок 2 уровня. Свойства:
//- "text" (string / nothing) - текст заголовка. По умолчанию - ''.
//- "align" (string) ['center', 'start'] - центровка текста.
//- Ожидается текст или ничего.
mixin h2Mix(options)
    -
        var options = options ? options : {};
        var text     = options.text ? options.text : '',
            align     = options.align ? options.align : 'center';
    h2.h2(class='' + (' h2_align_' + align))&attributes(attributes)= text
        if block
            block