//- Миксин создаёт шапку страницы. Свойства:
//- "title" (string) - текст заголовка. По умолчанию - 'title'.
//- Ожидаются кнопки.
mixin headerMix(options)
    -
        var options = options ? options : {};
        var title = options.title ? options.title : 'title';
    header.header
        h1.header__title= title
        hr.header__decorLine
        nav.header__nav
            if block
                block