//- Мискин создаёт параграф. Свойства:
//- 'text' (string / nothing) - текст параграфа. По умолчанию - ''.
//- Ожидается текст или ничего.
mixin pMix(options)
    -
        var options = options ? options : {};
        var text = options.text ? options.text : "";
    p.p= text
        if block
            block