//- Миксин создаёт степбар. Свойства:
//- "id" (string) - отвечает за id степбара. По умолчанию - "".
mixin stepbarMix(options)
    -
        var options = options ? options : {};
        var id = options.id ? options.id : "";
    .stepbar(id= id)&attributes(attributes)