//- Миксин создаёт чекбокс-галочку. Свойства:
//- 'value' (string) - значение чекбокса. По умолчанию - 'false'.
//- 'name' (string) - отвечает за идентификацию чекбокса. По умолчанию - 'tick'.
mixin tickMix(options)
    -
        var options     = options ? options : {};
        var value         = options.value ? options.value : 'false',
            name         = options.name ? options.name : 'tick',
            state         = value == 'true' ? 'on' : 'off';

    button.tick(type='button' data-value=value data-name=name)&attributes(attributes)
        .tick__outer(class='' + (' tick__outer_state_' + state))
            svg.tick__icon(class='' + (' tick__icon_state_' + state) viewbox="0 0 40 40")
                g(transform="translate(16, 28) rotate(-135)")
                    rect(width='10' height='3')
                    rect(width='3' height='16' y='3')