include ../title/title
include ../p/p

mixin working-area-block(options)
    -
        options = options || {};
        const {data = []} = options;
    .block
        .block__title
            +title({text: "Где работаем"})
        .block__el
            for item in data
                +p({text: item.text})