include ../title/title
include ../p/p

mixin working-area-block(options = {})
    -
        const {data = []} = options;
    .block
        .block__title
            +title({text: "Где работаем"})
        .block__el.block__el_margin_normal
            for item in data
                +p({text: item.text})