include ../title/title
include ../p/p

mixin working-area-block(options = {})
    -
        const {data = []} = options;
    .working-area-block
        .working-area-block__title
            +title({text: "Где работаем"})
        .working-area-block__el
            for item in data
                +p({text: item.text})