//- Миксин создаёт слайдер.
mixin sliderMix(options)
    -
        var options = options ? options : {};
    .slider&attributes(attributes)
        .slider__outer
            input.slider__holder.js-slider__holder