include ../about-block/about-block
include ../stats-block/stats-block
include ../working-area-block/working-area-block

mixin about-page-content(options)
    -
        options = options || {};
        const {aboutData = {}, statsData = {}, workingAreaData = {}} = options;
    section.base__section
        +about-block(aboutData)
    section.base__section
        +stats-block(statsData)
    section.base__section
        +working-area-block(workingAreaData)