include ../video/video
include ../blog-block/blog-block
include ../events-block/events-block

mixin home-page-content(options = {})
    -
        const {videoData = {}, blogData = {}, eventsData = {}, title = ""} = options;
    +header({title})
    main.base
        section.base__section.base__section_type_normal
            +video(videoData)
        section.base__section.base__section_type_normal
            +blog-block(blogData)
        section.base__section.base__section_type_normal
            +events-block(eventsData)