include ../buttons-showcase-block/buttons-showcase-block
include ../buttons-round-showcase-block/buttons-round-showcase-block
include ../charts-showcase-block/charts-showcase-block
include ../sliders-showcase-block/sliders-showcase-block
include ../stepbar-showcase-block/stepbar-showcase-block
include ../form-showcase-block/form-showcase-block
include ../video-showcase-block/video-showcase-block
include ../calendar-messanger-showcase-block/calendar-messanger-showcase-block
include ../location-showcase-block/location-showcase-block
include ../news-event-showcase-block/news-event-showcase-block
include ../bars-users-showcase-blocks/bars-users-showcase-blocks

mixin uikit-page-content(options)
    -
        options = options || {};
        const {
            videoData = {},
            messengerData = {},
            locationData = {},
            newsData = {},
            eventData = {},
            barsUsersData = {},
            formData = {},
            stepbarData = {},
            slidersData = [],
            chartsData = [],
            roundButtonsData = [],
            buttonsData = []
        } = options;

    section.base__section.base__section_type_normal
        +buttons-showcase-block({buttonsData})
    section.base__section.base__section_type_large
        +buttons-round-showcase-block({buttonsData: roundButtonsData})
    section.base__section.base__section_type_charts
        +charts-showcase-block({chartsData})
    section.base__section.base__section_type_sliders
        +sliders-showcase-block({slidersData})
    section.base__section.base__section_type_stages
        +stepbar-showcase-block({stepbarData})
    section.base__section.base__section_type_form
        +form-showcase-block({formData: formData.formData, ticksData: formData.ticksData, togglesData: formData.togglesData})
    section.base__section.base__section_type_bars-users
        +bars-users-showcase-blocks({usersData: barsUsersData.usersData, formData: barsUsersData.formData})
    section.base__section.base__section_type_events
        +news-event-showcase-block({newsData: newsData, eventData: eventData})
    section.base__section.base__section_type_normal
        +location-showcase-block({locationData})
    section.base__section.base__section_type_large
        +calendar-messanger-showcase-block({messengerData})
    section.base__section.base__section_type_large
        +video-showcase-block({videoData})