.toggle
  &__outer
    position: relative
    width: 4rem
    height: 1.6rem
    border-radius: 12px
    transition: .3s all

    &_state
      &_off
        background-color: #e5e5e5

      &_on
        background-color: #4eb7a8

  &__handle
    top: .2rem
    position: absolute
    width: 1.2rem
    height: 1.2rem
    background-color: white
    border-radius: 50%
    transition: .2s all

    &_state
      &_off
        left: .2rem

      &_on
        left: 2.6rem

  &__text
    position: absolute
    top: .25rem
    font-size: .8rem
    font-family: Lato, Arial, sans-serif
    font-weight: bold
    text-transform: uppercase
    color: white
    transition: .3s all

    &_state
      &_off
        left: 1.75rem

      &_on
        left: .75rem