.toggle{}

.toggle__outer
  position: relative
  width: 4rem
  height: 1.6rem
  border-radius: 12px
  transition: .3s all

.toggle__outer_state_off
  background-color: #e5e5e5

.toggle__outer_state_on
  background-color: #4eb7a8

.toggle__handle
  position: absolute
  width: 1.2rem
  height: 1.2rem
  background-color: white
  border-radius: 50%
  transition: .2s all

.toggle__handle_state_off
  top: .2rem
  left: .2rem

.toggle__handle_state_on
  top: .2rem
  left: 2.6rem

.toggle__text
  position: absolute
  font-size: .8rem
  font-family: Lato
  font-weight: bold
  text-transform: uppercase
  color: white
  transition: .3s all

.toggle__text_state_off
  top: .25rem
  left: 1.75rem

.toggle__text_state_on
  top: .25rem
  left: .75rem