mixin mapMix(options)
	-
		var options 	= options ? options : {};
		var title 		= options.title ? options.title : 'title',
			coordinates = options.coordinates ? options.coordinates : {},
			street 		= options.street ? options.street : 'street',
			city 		= options.city ? options.city : 'city';
	.map(data-coordinates=coordinates)&attributes(attributes)
		.map__outer
			.map__holder
			.map__overlay
				em.map__title= title
				.map__adressBox
					em.map__adress= street
					em.map__adress= city
				button.map__button.map__button_type_marker
				button.map__button.map__button_type_me