include ../title/title
include ../stepbar/stepbar

mixin stepbar-showcase(options = {})
    -
        const {data = {}, title = ""} = options;
    .stepbar-showcase
        .stepbar-showcase__title
            +title({text: title, level: 3})
        .stepbar-showcase__el
            +stepbar(data)