.form__message
	position: relative
	width: 3.1rem
	margin-left: .5rem
	padding: .55rem .9rem .5rem .9rem
	flex-shrink: 0
	border-radius: 4px
	font-size: .7rem
	text-transform: uppercase
	text-align: center
	color: white

.form__message::before
	position: absolute
	display: block
	content: ""
	left: -6px
	top: 50%
	width: 0
	height: 0
	margin-top: -3px
	overflow: hidden
	border: 3px solid transparent
	border-right-color: inherit