.bar__button_color_aquamarine {
  background-color: #4eb7a8;
}
.bar__button_color_aquamarine:hover {
  background-color: #28a290;
}
.bar__button_color_aquamarine:focus {
  background-color: #28a290;
}

.bar__button_color_orange {
  background-color: #e75735;
}
.bar__button_color_orange:hover {
  background-color: #bf3e1f;
}
.bar__button_color_orange:focus {
  background-color: #bf3e1f;
}

.bar__button {
  display: grid;
  width: 2.2rem;
  border-radius: 0 3px 3px 0;
  fill: #fff;
  flex-shrink: 0;
  transition: 0.2s all;
  cursor: pointer;
}

.bar__dropdown {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 0 0 3px 3px;
  padding: 0.35rem 0.9rem 0.5rem 0.9rem;
  box-sizing: border-box;
  flex-shrink: 1;
  background-color: #e5e5e5;
  transition: 0.4s all;
}
.bar__dropdown:focus {
  background-color: #e75735;
  color: #fff;
}

.bar__dropdownList_state_hidden {
  display: none;
}

.bar__dropdownList_state_visible {
  display: block;
}

.bar__dropdownList {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  margin-top: 3px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #4eb7a8;
  border-radius: 3px;
  cursor: default;
  transition: 0.3s all;
  z-index: 999;
}
.bar__dropdownList::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: -7px;
  left: 50%;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-bottom-color: inherit;
}

.bar__dropdownOption {
  position: relative;
  padding: 0.35rem 0.9rem 0.5rem 0.9rem;
  cursor: pointer;
  transition: 0.3s all;
  text-decoration: underline;
}
.bar__dropdownOption:hover {
  background-color: #4eb7a8;
  color: #fff;
}
.bar__dropdownOption:focus {
  background-color: #4eb7a8;
  color: #fff;
}

.bar__dropdownText {
  color: #888;
  cursor: default;
}

.bar__input {
  width: 100%;
  flex-shrink: 1;
}

.bar__outer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bar {
  font-family: Tahoma;
  font-size: 0.9rem;
}

.button__content_color_aquamarine {
  color: #4eb7a8;
  fill: #4eb7a8;
}
.button:hover .button__content_color_aquamarine,
.button:focus .button__content_color_aquamarine,
.button:active .button__content_color_aquamarine {
  color: #fff;
  fill: #fff;
}

.button__content_color_aquamarineAlternate {
  color: #4eb7a8;
  fill: #4eb7a8;
}
.button:hover .button__content_color_aquamarineAlternate,
.button:focus .button__content_color_aquamarineAlternate,
.button:active .button__content_color_aquamarineAlternate {
  color: #fff;
  fill: #fff;
}

.button__content_color_blocked {
  color: #fff;
  fill: #fff;
}

.button__content_color_orange {
  color: #e34a26;
  fill: #e34a26;
}
.button:hover .button__content_color_orange,
.button:focus .button__content_color_orange,
.button:active .button__content_color_orange {
  color: #fff;
  fill: #fff;
}

.button__content_form_box {
  font-family: Lato-black;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.55rem 2.3rem;
}

.button__content_form_boxEvent {
  font-family: Lato-black;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.3rem 1.1rem;
}

.button__content_form_boxMini {
  font-family: Lato-black;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.2rem 1.1rem;
}

.button__content_form_round {
  width: 3rem;
  height: 3rem;
}

.button__content {
  display: block;
  transition: 0.2s all;
}

.button__inner_color_aquamarine {
  background-color: #fff;
  border-color: #4eb7a8;
}
.button:hover .button__inner_color_aquamarine,
.button:active .button__inner_color_aquamarine,
.button:focus .button__inner_color_aquamarine {
  background-color: #4eb7a8;
}

.button__inner_color_aquamarineAlternate {
  background-color: #fff;
  border-color: #28a290;
}
.button:hover .button__inner_color_aquamarineAlternate,
.button:focus .button__inner_color_aquamarineAlternate,
.button:active .button__inner_color_aquamarineAlternate {
  background-color: #249181;
  border-color: #249181;
}

.button__inner_color_blocked {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.button__inner_color_orange {
  background-color: #fff;
  border-color: #e75735;
}
.button:hover .button__inner_color_orange,
.button:focus .button__inner_color_orange,
.button:active .button__inner_color_orange {
  background-color: #e75735;
}

.button__inner_form_box {
  width: 100%;
  transform: translateY(-3px);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  z-index: 0;
}
.button:active .button__inner_form_box {
  transform: translateY(0);
}

.button__inner_form_boxEvent {
  width: 100%;
  transform: translateY(-2px);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  z-index: 0;
}
.button:active .button__inner_form_boxEvent {
  transform: translateY(0);
}

.button__inner_form_boxMini {
  width: 100%;
  transform: translateY(-2px);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  z-index: 0;
}
.button:active .button__inner_form_boxMini {
  transform: translateY(0);
}

.button__inner_form_round {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
}

.button__inner {
  transition: 0.2s all;
}

.button__outer_color_aquamarine {
  background-color: #4eb7a8;
}
.button:hover .button__outer_color_aquamarine,
.button:focus .button__outer_color_aquamarine,
.button:active .button__outer_color_aquamarine {
  background-color: #28a290;
}

.button__outer_color_blocked {
  background-color: #e5e5e5;
}

.button__outer_color_orange {
  background-color: #bf3e1f;
}
.button:hover .button__outer_color_orange,
.button:focus .button__outer_color_orange,
.button:active .button__outer_color_orange {
  background-color: #bf3e1f;
}

.button__outer_color_aquamarineAlternate {
  background-color: #28a290;
}
.button:hover .button__outer_color_aquamarineAlternate,
.button:focus .button__outer_color_aquamarineAlternate,
.button:active .button__outer_color_aquamarineAlternate {
  background-color: #2b7a6e;
}

.button__outer_form_box {
  border-radius: 2px;
  margin-top: 3px;
}

.button__outer_form_boxEvent {
  border-radius: 2px;
  margin-top: 2px;
}

.button__outer_form_boxMini {
  border-radius: 2px;
  margin-top: 2px;
}

.button__outer_form_round {
  border-radius: 100%;
}
.button:active .button__outer_form_round {
  transform: scale(0.95);
}

.button__outer {
  display: flex;
  position: relative;
  width: 100%;
  text-align: center;
  transition: 0.2s all;
}

.button__rippleEffect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  opacity: 0;
  transition: 0.5s all;
  z-index: 1;
}
.button:hover .button__rippleEffect {
  background: radial-gradient(circle, #fff 1%, transparent 1%) center/15000%;
}
.button:active .button__rippleEffect {
  background-size: 100%;
  transition: 0s all;
  opacity: 0.4;
}

.button_blocked {
  cursor: default;
}


.calendar__header {
  width: 100%;
  height: 7.4rem;
  background-color: #e75735;
  overflow: hidden;
}


.calendar__outer {
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.calendar__today {
  margin-top: 0.6rem;
  font-size: 5.3rem;
  text-align: center;
  font-family: Lato-light;
  color: #fff;
}


.chart_type_pie {
  padding: 9px;
}

.chart_type_progress {
  padding: 0;
}


.form__el {
  display: flex;
  width: 100%;
  margin-top: 0.8rem;
}
.form__el:first-child {
  margin-top: 0;
}

.form__entry_size_auto {
  flex-shrink: 0;
}

.form__entry_size_fill {
  width: 100%;
}


.form__submit {
  margin-top: 0.6rem;
  margin-left: auto;
  display: table;
}

.form__text {
  width: 100%;
  cursor: default;
}


.h1 {
  font-family: Lato-black;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.icon__image {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.icon__outer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: #e5e5e5;
  border-radius: 50%;
}



.input__entry_form_box {
  height: 6rem;
}

.input__entry_radius_default {
  border-radius: 3px;
}

.input__entry_radius_left {
  border-radius: 3px 0 0 3px;
}

.input__entry {
  width: 100%;
  border: none;
  padding: 0.35rem 0.9rem 0.5rem 0.9rem;
  box-sizing: border-box;
  flex-shrink: 1;
  color: #888;
  background-color: #e5e5e5;
  transition: 0.4s all;
}
.input__entry:focus {
  background-color: #e75735;
  color: #fff;
}

.input__message_state_error {
  background-color: #e75735;
  border-color: #e75735;
}

.input__message_state_hidden {
  display: none;
}

.input__message_state_succes {
  background-color: #4eb7a8;
  border-color: #4eb7a8;
}

.input__message {
  position: relative;
  width: 3.1rem;
  margin-left: 0.5rem;
  padding: 0.55rem 0.9rem 0.5rem 0.9rem;
  flex-shrink: 0;
  border-radius: 4px;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: 0.3s all;
  cursor: default;
}
.input__message::before {
  position: absolute;
  display: block;
  content: "";
  left: -6px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-right-color: inherit;
}

.input__outer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.map__adress {
  display: inline-block;
  margin-left: 1.6rem;
  margin-top: 0.3rem;
  float: left;
}

.map__adressEl {
  display: block;
  font-style: normal;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.map__button_type_marker {
  background-image: url("../images/marker.png");
}

.map__button_type_me {
  background-image: url("../images/me.png");
}

.map__button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-top: 0.3rem;
  margin-right: 1rem;
  float: right;
  transition: 0.1s all;
}
.map__button::last-child {
  margin-right: 0;
}
.map__button:hover,
.map__button:focus {
  transform: scale(1.1);
}
.map__button:active {
  transform: scale(0.9);
}

.map__outer {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 18.5rem;
  border-radius: 3px;
  overflow: hidden;
}

.map__overlay {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  padding: 1rem 1.3rem 1.35rem 2rem;
  background-color: #e75735;
  color: #fff;
}

.map__replace {
  width: 100%;
  top: 0;
  bottom: 4.7rem;
  position: absolute !important;
}

.map__title {
  float: left;
  display: inline-block;
  font-family: Lato-light;
  font-size: 2rem;
}


.note__button {
  display: grid;
  width: 88%;
  margin: 1.2rem auto 0 auto;
}


.note__date_type_news {
  font-family: Lato-black;
  margin-top: 0.9rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.note__date {
  color: #fff;
}

.note__dateDay {
  display: inline-block;
  font-size: 5rem;
  font-family: Lato-light;
  line-height: 0.8;
}

.note__dateMonth {
  display: inline-block;
  font-family: Lato-light;
  font-size: 2rem;
}

.note__description_type_event {
  margin-top: 0.3rem;
}

.note__description_type_news {
  margin-top: 0.8rem;
}

.note__description {
  font-size: 0.75rem;
  font-family: Lato-regular;
  color: #fff;
}

.note__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.note__imageOuter {
  width: 33%;
  flex-shrink: 0;
}

.note__info_type_event {
  background-color: #4eb7a8;
}

.note__info_type_news {
  background-color: #e75735;
}

.note__info {
  width: 67%;
  padding: 1.5rem;
}

.note__outer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 3px;
  overflow: hidden;
}

.note__title_type_event {
  margin-top: 1rem;
  font-family: Lato-black;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.note__title_type_news {
  font-family: Lato-light;
  font-size: 2rem;
  line-height: 0.85;
}

.note__title {
  color: #fff;
}


.slider__outer {
  height: 5rem;
}




.tick__icon_state_off {
  fill: #c0c0c0;
}

.tick__icon_state_on {
  fill: #fff;
}


.tick__outer_state_off {
  background-color: #e5e5e5;
}

.tick__outer_state_on {
  background-color: #4eb7a8;
}

.tick__outer {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  transition: 0.2s all;
}


.toggle__handle_state_off {
  top: 0.2rem;
  left: 0.2rem;
}

.toggle__handle_state_on {
  top: 0.2rem;
  left: 2.6rem;
}

.toggle__handle {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.2s all;
}

.toggle__outer_state_off {
  background-color: #e5e5e5;
}

.toggle__outer_state_on {
  background-color: #4eb7a8;
}

.toggle__outer {
  position: relative;
  width: 4rem;
  height: 1.6rem;
  border-radius: 12px;
  transition: 0.3s all;
}

.toggle__text_state_off {
  top: 0.25rem;
  left: 1.75rem;
}

.toggle__text_state_on {
  top: 0.25rem;
  left: 0.75rem;
}

.toggle__text {
  position: absolute;
  font-size: 0.8rem;
  font-family: Lato-black;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s all;
}


.user__image {
  width: 6.5rem;
}

.user__info_color_aquamarine {
  background-color: #4eb7a8;
  border-color: #4eb7a8;
}

.user__info_color_gray {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.user__info {
  position: relative;
  width: 11.2rem;
  height: 6.3rem;
  border-radius: 6px;
  text-align: center;
}
.user__info::before {
  position: absolute;
  display: block;
  content: "";
  left: -14px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -7px;
  overflow: hidden;
  border: 7px solid transparent;
  border-right-color: inherit;
}

.user__name_color_aquamarine {
  color: #fff;
}

.user__name_color_gray {
  color: #e75735;
}

.user__name {
  margin-top: 0.6rem;
  font-size: 1.2rem;
}

.user__outer {
  display: flex;
  width: 18.5rem;
  justify-content: space-between;
}

.user__profession_color_aquamarine {
  color: #fff;
}

.user__profession_color_gray {
  color: #4f4f4f;
}

.user__profession {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.user__social_dr.user__social_color_aquamarine {
  background-image: url("../images/draquamarine.png");
}
.user__social_dr.user__social_color_aquamarine:hover,
.user__social_dr.user__social_color_aquamarine:focus {
  background-image: url("../images/drhover.png");
}
.user__social_fb.user__social_color_aquamarine {
  background-image: url("../images/fbaquamarine.png");
}
.user__social_fb.user__social_color_aquamarine:hover,
.user__social_fb.user__social_color_aquamarine:focus {
  background-image: url("../images/fbhover.png");
}
.user__social_tw.user__social_color_aquamarine {
  background-image: url("../images/twaquamarine.png");
}
.user__social_tw.user__social_color_aquamarine:hover,
.user__social_tw.user__social_color_aquamarine:focus {
  background-image: url("../images/twhover.png");
}

.user__social_dr.user__social_color_gray {
  background-image: url("../images/drgray.png");
}
.user__social_dr.user__social_color_gray:hover,
.user__social_dr.user__social_color_gray:focus {
  background-image: url("../images/drhover.png");
}
.user__social_fb.user__social_color_gray {
  background-image: url("../images/fbgray.png");
}
.user__social_fb.user__social_color_gray:hover,
.user__social_fb.user__social_color_gray:focus {
  background-image: url("../images/fbhover.png");
}
.user__social_tw.user__social_color_gray {
  background-image: url("../images/twgray.png");
}
.user__social_tw.user__social_color_gray:hover,
.user__social_tw.user__social_color_gray:focus {
  background-image: url("../images/twhover.png");
}

.user__social {
  width: 1.45rem;
  height: 1.45rem;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s all;
}

.user__socials {
  display: flex;
  width: 7rem;
  margin: 0.8rem auto 0 auto;
  justify-content: space-between;
}


/***常量***/
/***function***/
/***style***/
.perfect-datetimepicker {
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 14px;
  color: #333;
  background-color: #fafafa;
  line-height: 0;
  overflow: hidden;
}
.perfect-datetimepicker * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.perfect-datetimepicker table {
  width: 100%;
  margin: 0;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #fff;
}
.perfect-datetimepicker table td {
  border: 0;
  text-align: center;
  padding: 2px;
  width: 34px;
  height: 2.75rem;
  cursor: pointer;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0;
  background-color: #f2f2f2;
  font-size: 1.25rem;
}
.perfect-datetimepicker thead {
  color: #fff;
}
.perfect-datetimepicker thead td {
  height: 1.75rem;
}
.perfect-datetimepicker thead tr td {
  background-color: #e75735;
}
.perfect-datetimepicker thead tr.mainhead td {
  background-color: #d54c2c;
}
.perfect-datetimepicker thead tr.mainhead td {
  width: 1rem;
  height: 3rem;
}
.perfect-datetimepicker thead td.day {
  color: #fff;
}
.perfect-datetimepicker thead tr.mainhead td.title {
  font-family: Lato-light;
  font-size: 1.65rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.perfect-datetimepicker table.mt tbody td {
  width: 58px;
  height: 38px;
}
.perfect-datetimepicker td.day {
  color: #868686;
  width: 14.28571429%;
}
.perfect-datetimepicker td.name {
  font-family: Lato-black;
  text-transform: uppercase;
  font-size: 0.6rem;
}
.perfect-datetimepicker td.oday {
  color: #fff;
  cursor: auto;
}
.perfect-datetimepicker td.disabled {
  color: #999;
  cursor: auto;
}
.perfect-datetimepicker td i {
  font-size: 18px;
  font-weight: bold;
}
.perfect-datetimepicker td table.tt {
  border: 0;
  padding: 0;
}
.perfect-datetimepicker table.tt {
  padding: 5px;
}
.perfect-datetimepicker table.tt td.hover {
  border: 0;
}
.perfect-datetimepicker table.tt td.common {
  width: 5px;
}
.perfect-datetimepicker table.tt tbody td {
  width: 40px;
  height: 14px;
}
.perfect-datetimepicker table.tt input {
  outline: none;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 0 !important;
  width: 38px;
  height: 24px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -ms-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -webkit-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -o-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}
.perfect-datetimepicker table.tt input:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0 0 6px rgba(102,175,233,0.6);
  -moz-box-shadow: 0 0 6px rgba(102,175,233,0.6);
  box-shadow: 0 0 6px rgba(102,175,233,0.6);
}
.perfect-datetimepicker table.tt input[type=number]::-webkit-inner-spin-button,
.perfect-datetimepicker table.tt input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.perfect-datetimepicker table.tt input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.perfect-datetimepicker tbody td.hover {
  background-color: #eee;
  padding: 1px;
  border: 1px solid #ccc;
}
.perfect-datetimepicker tbody td.today {
  font-weight: bold;
  color: #e75735;
}
.perfect-datetimepicker .buttonpane tr td.today {
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  color: #868686;
  font-size: 0.9rem;
}
.perfect-datetimepicker .buttonpane {
  padding: 0.3rem 1rem 0.3rem 1.2rem;
  background-color: #e5e5e5;
}
.perfect-datetimepicker tbody td.selected {
  font-weight: bold;
  padding: 1px;
  color: #fff;
  border: 1px solid #e75735;
  background-color: #e75735;
}
.perfect-datetimepicker tbody tr:last-child td {
  border-bottom: 1px solid transparent;
}
.perfect-datetimepicker tbody td {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  background-clip: padding-box;
}
.perfect-datetimepicker tbody td:last-child {
  border-right: 0;
}
.perfect-datetimepicker tfoot td.hover {
  background-color: #eee;
  padding: 1px;
  border: 1px solid #eee;
}
.perfect-datetimepicker thead td.hover {
  background-color: #eee;
  padding: 1px;
  border: 1px solid #eee;
}
.perfect-datetimepicker thead td.title {
  font-weight: bold;
  text-align: center;
  padding: 2px;
}
i {
  font-family: "finex";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'finex';
  src: url("../resources/fonts/iconfont.eot");
/* IE9*/
  src: url("../resources/fonts/iconfont.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */ url("../resources/fonts/iconfont.woff") format('woff'), /* chrome、firefox */ url("../resources/fonts/iconfont.ttf") format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("../resources/fonts/iconfont.svg#svgFontName") format('svg');
/*  iOS 4.1- */
}
i.icon-datepicker-minus:before {
  content: '\e601';
}
i.icon-datepicker-plus:before {
  content: '\e603';
}
i.icon-datepicker-prev:before {
  content: '\e602';
}
i.icon-datepicker-next:before {
  content: '\e600';
}

@font-face {
  font-family: Lato-regular;
  src: url("../fonts/Lato-regular.otf") format("opentype"), url("../fonts/Lato-regular.eot?#") format("eot"), url("../fonts/Lato-regular.ttf") format("truetype"), url("../fonts/Lato-regular.woff") format("woff"), url("../images/Lato-regular.svg") format("svg");
}
@font-face {
  font-family: Lato-black;
  src: url("../fonts/Lato-black.otf") format("opentype"), url("../fonts/Lato-black.eot?#") format("eot"), url("../fonts/Lato-black.ttf") format("truetype"), url("../fonts/Lato-black.woff") format("woff"), url("../images/Lato-black.svg") format("svg");
}
@font-face {
  font-family: Lato-light;
  src: url("../fonts/Lato-light.otf") format("opentype"), url("../fonts/Lato-light.eot?#") format("eot"), url("../fonts/Lato-light.ttf") format("truetype"), url("../fonts/Lato-light.woff") format("woff"), url("../images/Lato-light.svg") format("svg");
}
html {
  color: #4f4f4f;
  font-size: 11pt;
  font-family: Lato-regular;
}
span {
  font-family: Lato-black;
}
button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
figure {
  margin: 0;
}
h2 {
  font-weight: normal;
}
p,
em,
h1,
h2 {
  margin: 0;
  padding: 0;
}

/**
Ion.RangeSlider, 2.3.0
© Denis Ineshin, 2010 - 2018, IonDen.com
Build date: 2018-12-12 00:07:25
*/
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}
.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}
.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}
.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: default;
  z-index: 1;
}
.irs-handle.type_last {
  z-index: 2;
}
.irs-min,
.irs-max {
  position: absolute;
  display: block;
  cursor: default;
}
.irs-min {
  left: 0;
}
.irs-max {
  right: 0;
}
.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}
.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.irs-with-grid .irs-grid {
  display: block;
}
.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}
.irs-grid-pol.small {
  height: 4px;
}
.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0,0,0,0);
  z-index: 2;
}
.lt-ie9 .irs-disable-mask {
  background: #000;
  cursor: not-allowed;
}
.irs-disabled {
  opacity: 0.4;
}
.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}
.irs--flat {
  height: 40px;
}
.irs--flat.irs-with-grid {
  height: 60px;
}
.irs--flat .irs-line {
  top: 25px;
  height: 12px;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  top: 25px;
  height: 12px;
  background-color: #ed5565;
}
.irs--flat .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--flat .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}
.irs--flat .irs-handle {
  top: 22px;
  width: 16px;
  height: 18px;
  background-color: transparent;
}
.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background-color: #da4453;
}
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #a43540;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: #fff;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #ed5565;
  border-radius: 4px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}
.irs--flat .irs-grid-pol {
  background-color: #e1e4e9;
}
.irs--flat .irs-grid-text {
  color: #999;
}
.irs--big {
  height: 55px;
}
.irs--big.irs-with-grid {
  height: 70px;
}
.irs--big .irs-line {
  top: 33px;
  height: 12px;
  background-color: #fff;
  background: linear-gradient(to bottom, #ddd -50%, #fff 150%);
  border: 1px solid #ccc;
  border-radius: 12px;
}
.irs--big .irs-bar {
  top: 33px;
  height: 12px;
  background-color: #92bce0;
  border: 1px solid #428bca;
  background: linear-gradient(to bottom, #fff 0%, #428bca 30%, #b9d4ec 100%);
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5);
}
.irs--big .irs-bar--single {
  border-radius: 12px 0 0 12px;
}
.irs--big .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: rgba(66,139,202,0.5);
}
.irs--big .irs-handle {
  top: 25px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: #cbcfd5;
  background: linear-gradient(to bottom, #fff 0%, #b4b9be 30%, #fff 100%);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2), inset 0 0 3px 1px #fff;
  border-radius: 30px;
}
.irs--big .irs-handle.state_hover,
.irs--big .irs-handle:hover {
  border-color: rgba(0,0,0,0.45);
  background-color: #939ba7;
  background: linear-gradient(to bottom, #fff 0%, #919ba5 30%, #fff 100%);
}
.irs--big .irs-min,
.irs--big .irs-max {
  top: 0;
  padding: 1px 5px;
  color: #fff;
  text-shadow: none;
  background-color: #9f9f9f;
  border-radius: 3px;
}
.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  color: #fff;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #428bca;
  background: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  border-radius: 3px;
}
.irs--big .irs-grid-pol {
  background-color: #428bca;
}
.irs--big .irs-grid-text {
  color: #428bca;
}
.irs--modern {
  height: 55px;
}
.irs--modern.irs-with-grid {
  height: 55px;
}
.irs--modern .irs-line {
  top: 25px;
  height: 5px;
  background-color: #d1d6e0;
  background: linear-gradient(to bottom, #e0e4ea 0%, #d1d6e0 100%);
  border: 1px solid #a3adc1;
  border-bottom-width: 0;
  border-radius: 5px;
}
.irs--modern .irs-bar {
  top: 25px;
  height: 5px;
  background: #20b426;
  background: linear-gradient(to bottom, #20b426 0%, #18891d 100%);
}
.irs--modern .irs-bar--single {
  border-radius: 5px 0 0 5px;
}
.irs--modern .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(209,214,224,0.5);
}
.irs--modern .irs-handle {
  top: 37px;
  width: 12px;
  height: 13px;
  border: 1px solid #a3adc1;
  border-top-width: 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 0 0 3px 3px;
}
.irs--modern .irs-handle > i:nth-child(1) {
  position: absolute;
  display: block;
  top: -4px;
  left: 1px;
  width: 6px;
  height: 6px;
  border: 1px solid #a3adc1;
  background: #fff;
  transform: rotate(45deg);
}
.irs--modern .irs-handle > i:nth-child(2) {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 10px;
  height: 12px;
  background: #e9e6e6;
  background: linear-gradient(to bottom, #fff 0%, #e9e6e6 100%);
  border-radius: 0 0 3px 3px;
}
.irs--modern .irs-handle > i:nth-child(3) {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 5px;
  border-left: 1px solid #a3adc1;
  border-right: 1px solid #a3adc1;
}
.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
  border-color: #7685a2;
  background: #c3c7cd;
  background: linear-gradient(to bottom, #fff 0%, #919ba5 30%, #fff 100%);
}
.irs--modern .irs-handle.state_hover > i:nth-child(1),
.irs--modern .irs-handle:hover > i:nth-child(1) {
  border-color: #7685a2;
}
.irs--modern .irs-handle.state_hover > i:nth-child(3),
.irs--modern .irs-handle:hover > i:nth-child(3) {
  border-color: #48536a;
}
.irs--modern .irs-min,
.irs--modern .irs-max {
  top: 0;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  color: #fff;
  background-color: #d1d6e0;
  border-radius: 5px;
}
.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #20b426;
  color: #fff;
  border-radius: 5px;
}
.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #20b426;
}
.irs--modern .irs-grid {
  height: 25px;
}
.irs--modern .irs-grid-pol {
  background-color: #dedede;
}
.irs--modern .irs-grid-text {
  color: #c0c0c0;
  font-size: 13px;
}
.irs--sharp {
  height: 50px;
  font-size: 12px;
  line-height: 1;
}
.irs--sharp.irs-with-grid {
  height: 57px;
}
.irs--sharp .irs-line {
  top: 30px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
}
.irs--sharp .irs-bar {
  top: 30px;
  height: 2px;
  background-color: #ee22fa;
}
.irs--sharp .irs-bar--single {
  border-radius: 2px 0 0 2px;
}
.irs--sharp .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(0,0,0,0.5);
}
.irs--sharp .irs-handle {
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: #a804b2;
}
.irs--sharp .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #a804b2;
}
.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: #000;
}
.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: #000;
}
.irs--sharp .irs-min,
.irs--sharp .irs-max {
  color: #fff;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 4px;
  opacity: 0.4;
  background-color: #a804b2;
  border-radius: 2px;
}
.irs--sharp .irs-from,
.irs--sharp .irs-to,
.irs--sharp .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 4px;
  background-color: #a804b2;
  color: #fff;
  border-radius: 2px;
}
.irs--sharp .irs-from:before,
.irs--sharp .irs-to:before,
.irs--sharp .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #a804b2;
}
.irs--sharp .irs-grid {
  height: 25px;
}
.irs--sharp .irs-grid-pol {
  background-color: #dedede;
}
.irs--sharp .irs-grid-text {
  color: #c0c0c0;
  font-size: 13px;
}
.irs--round {
  height: 50px;
}
.irs--round.irs-with-grid {
  height: 65px;
}
.irs--round .irs-line {
  top: 36px;
  height: 4px;
  background-color: #dee4ec;
  border-radius: 4px;
}
.irs--round .irs-bar {
  top: 36px;
  height: 4px;
  background-color: #006cfa;
}
.irs--round .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--round .irs-shadow {
  height: 4px;
  bottom: 21px;
  background-color: rgba(222,228,236,0.5);
}
.irs--round .irs-handle {
  top: 26px;
  width: 24px;
  height: 24px;
  border: 4px solid #006cfa;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(0,0,255,0.3);
}
.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: #f0f6ff;
}
.irs--round .irs-min,
.irs--round .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
}
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #006cfa;
  color: #fff;
  border-radius: 4px;
}
.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #006cfa;
}
.irs--round .irs-grid {
  height: 25px;
}
.irs--round .irs-grid-pol {
  background-color: #dedede;
}
.irs--round .irs-grid-text {
  color: #c0c0c0;
  font-size: 13px;
}
.irs--square {
  height: 50px;
}
.irs--square.irs-with-grid {
  height: 60px;
}
.irs--square .irs-line {
  top: 31px;
  height: 4px;
  background-color: #dedede;
}
.irs--square .irs-bar {
  top: 31px;
  height: 4px;
  background-color: #000;
}
.irs--square .irs-shadow {
  height: 2px;
  bottom: 21px;
  background-color: #dedede;
}
.irs--square .irs-handle {
  top: 25px;
  width: 16px;
  height: 16px;
  border: 3px solid #000;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.irs--square .irs-handle.state_hover,
.irs--square .irs-handle:hover {
  background-color: #f0f6ff;
}
.irs--square .irs-min,
.irs--square .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0,0,0,0.1);
}
.irs--square .irs-from,
.irs--square .irs-to,
.irs--square .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #000;
  color: #fff;
}
.irs--square .irs-grid {
  height: 25px;
}
.irs--square .irs-grid-pol {
  background-color: #dedede;
}
.irs--square .irs-grid-text {
  color: #c0c0c0;
  font-size: 11px;
}

.irs--pips {
  height: 100%;
}
.irs--pips .irs-line {
  top: 2.6rem;
  height: 0.35rem;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--pips .irs-bar {
  top: 2.6rem;
  height: 0.35rem;
  background-color: #4eb7a8;
}
.irs--pips .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--pips .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}
.irs--pips .irs-handle {
  top: 1.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: transparent;
}
.irs--pips .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0.6rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #4eb7a8;
}
.irs--pips .irs-handle.state_hover > i:first-child,
.irs--pips .irs-handle:hover > i:first-child {
  background-color: #28a290;
}
.irs--pips .irs-handle.state_hover > i:first-child,
.irs--pips .irs-handle > i:first-child:focus {
  background-color: #28a290;
}
.irs--pips .irs-min,
.irs--pips .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
  display: none;
}
.irs--pips .irs-from,
.irs--pips .irs-to,
.irs--pips .irs-single {
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.333;
  text-shadow: none;
  padding: 0.2rem 0.7rem;
  background-color: #4eb7a8;
  border-radius: 4px;
  display: none;
}
.irs--pips .irs-from:before,
.irs--pips .irs-to:before,
.irs--pips .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}
.irs--pips .irs-grid-pol {
  background-color: transparent;
}
.irs--pips .irs-grid-text {
  color: #d1d1d1;
  font-size: 0.75rem;
}
.irs--pips .irs-grid {
  bottom: 0.7rem;
}

.irs--simple {
  height: 100%;
}
.irs--simple.irs-with-grid {
  height: 60px;
}
.irs--simple .irs-line {
  top: 2.6rem;
  height: 0.35rem;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--simple .irs-bar {
  top: 2.6rem;
  height: 0.35rem;
  background-color: transparent;
}
.irs--simple .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--simple .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}
.irs--simple .irs-handle {
  top: 1.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: transparent;
}
.irs--simple .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0.6rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #e75735;
}
.irs--simple .irs-handle.state_hover > i:first-child,
.irs--simple .irs-handle:hover > i:first-child {
  background-color: #bf3e1f;
}
.irs--simple .irs-handle.state_hover > i:first-child,
.irs--simple .irs-handle:focus > i:first-child {
  background-color: #bf3e1f;
}
.irs--simple .irs-min,
.irs--simple .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
  display: none;
}
.irs--simple .irs-from,
.irs--simple .irs-to,
.irs--simple .irs-single {
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.333;
  text-shadow: none;
  padding: 0.2rem 0.7rem;
  background-color: #e75735;
  border-radius: 4px;
}
.irs--simple .irs-from:before,
.irs--simple .irs-to:before,
.irs--simple .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}
.irs--simple .irs-grid-pol {
  background-color: #e1e4e9;
}
.irs--simple .irs-grid-text {
  color: #999;
}

.jchart__summary {
  fill: #9d9d9d;
  font-family: Lato-light;
}

