.button__content_background_leftArrow {
  background-image: url("../images/rightArrow.png");
}

.button__content_background_rightArrow {
  background: url("../images/rightArrow.png");
}

.button__content_color_aquamarine {
  color: #4eb7a8;
  fill: #4eb7a8;
}
.button:hover .button__content_color_aquamarine {
  color: #fff;
  fill: #fff;
}
.button:active .button__content_color_aquamarine {
  color: #fff;
  fill: #fff;
}

.button__content_color_blocked {
  color: #fff;
  fill: #fff;
}

.button__content_color_orange {
  color: #e34a26;
  fill: #e34a26;
}
.button:hover .button__content_color_orange {
  color: #fff;
  fill: #fff;
}
.button:active .button__content_color_orange {
  color: #fff;
  fill: #fff;
}

.button__content_type_box {
  font-family: Lato-black;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.55rem 2.3rem;
}

.button__content_type_boxMini {
  font-family: Lato-black;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.2rem 1.1rem;
}

.button__content_type_round {
  width: 3rem;
  height: 3rem;
}

.button__content {
  display: block;
  transition: 0.2s all;
}

.button__inner_color_aquamarine {
  background-color: #fff;
  border-color: #4eb7a8;
}
.button:hover .button__inner_color_aquamarine {
  background-color: #4eb7a8;
}
.button:active .button__inner_color_aquamarine {
  background-color: #4eb7a8;
}

.button__inner_color_blocked {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.button__inner_color_orange {
  background-color: #fff;
  border-color: #e75735;
}
.button:hover .button__inner_color_orange {
  background-color: #e75735;
}
.button:active .button__inner_color_orange {
  background-color: #e75735;
}

.button__inner_type_box {
  width: 100%;
  transform: translateY(-3px);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  z-index: 0;
}
.button:active .button__inner_type_box {
  transform: translateY(0);
}

.button__inner_type_boxMini {
  width: 100%;
  transform: translateY(-2px);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  z-index: 0;
}
.button:active .button__inner_type_boxMini {
  transform: translateY(0);
}

.button__inner_type_round {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
}

.button__inner {
  transition: 0.2s all;
}

.button__outer_color_aquamarine {
  background-color: #4eb7a8;
}
.button:hover .button__outer_color_aquamarine {
  background-color: #28a290;
}
.button:active .button__outer_color_aquamarine {
  background-color: #28a290;
}

.button__outer_color_blocked {
  background-color: #e5e5e5;
}

.button__outer_color_orange {
  background-color: #e75735;
}
.button:hover .button__outer_color_orange {
  background-color: #bf3e1f;
}
.button:active .button__outer_color_orange {
  background-color: #bf3e1f;
}

.button__outer_type_box {
  border-radius: 2px;
  margin-top: 3px;
}

.button__outer_type_boxMini {
  border-radius: 2px;
  margin-top: 2px;
}

.button__outer_type_round {
  border-radius: 100%;
}
.button:active .button__outer_type_round {
  transform: scale(0.95);
}

.button__outer {
  display: flex;
  position: relative;
  width: 100%;
  text-align: center;
  transition: 0.2s all;
}

.button__rippleEffect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  opacity: 0;
  transition: 0.5s all;
  z-index: 1;
}
.button:hover .button__rippleEffect {
  background: radial-gradient(circle, #fff 1%, transparent 1%) center/15000%;
}
.button:active .button__rippleEffect {
  background-size: 100%;
  transition: 0s all;
  opacity: 0.4;
}

.button_blocked {
  cursor: default;
}


@font-face {
  font-family: Lato-regular;
  src: url("../fonts/Lato-regular.otf") format("opentype"), url("../fonts/Lato-regular.eot?#") format("eot"), url("../fonts/Lato-regular.ttf") format("truetype"), url("../fonts/Lato-regular.woff") format("woff"), url("../images/Lato-regular.svg") format("svg");
}
@font-face {
  font-family: Lato-black;
  src: url("../fonts/Lato-black.otf") format("opentype"), url("../fonts/Lato-black.eot?#") format("eot"), url("../fonts/Lato-black.ttf") format("truetype"), url("../fonts/Lato-black.woff") format("woff"), url("../images/Lato-black.svg") format("svg");
}
@font-face {
  font-family: Lato-light;
  src: url("../fonts/Lato-light.otf") format("opentype"), url("../fonts/Lato-light.eot?#") format("eot"), url("../fonts/Lato-light.ttf") format("truetype"), url("../fonts/Lato-light.woff") format("woff"), url("../images/Lato-light.svg") format("svg");
}
html {
  color: #4f4f4f;
  font-size: 11pt;
}
button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.h1 {
  font-family: Lato-black;
  font-size: 1.25rem;
  text-transform: uppercase;
}

