include ../title/title
include ../wrapper/wrapper
include ../note/note

mixin news-event-showcase-block(options)
    -
        options = options || {};
        const {newsData = {}, eventData = {}} = options;
    .block
        .block__title
            +title({text: "News & events", level: 3})
        .block__el.block__el_margin_events
            +wrapper({justify: "between", centering: false})
                +note(newsData)
                +note(eventData)