.user__social_dr.user__social_color_aquamarine
	background-image: url('../images/draquamarine.png')

.user__social_dr.user__social_color_aquamarine:hover,
.user__social_dr.user__social_color_aquamarine:focus
	background-image: url('../images/drhover.png')

.user__social_fb.user__social_color_aquamarine
	background-image: url('../images/fbaquamarine.png')

.user__social_fb.user__social_color_aquamarine:hover,
.user__social_fb.user__social_color_aquamarine:focus
	background-image: url('../images/fbhover.png')

.user__social_tw.user__social_color_aquamarine
	background-image: url('../images/twaquamarine.png')

.user__social_tw.user__social_color_aquamarine:hover,
.user__social_tw.user__social_color_aquamarine:focus
	background-image: url('../images/twhover.png')