.user__social_dr.user__social_color_gray
	background-image: url('../images/drgray.png')

.user__social_dr.user__social_color_gray:hover,
.user__social_dr.user__social_color_gray:focus
	background-image: url('../images/drhover.png')

.user__social_fb.user__social_color_gray
	background-image: url('../images/fbgray.png')

.user__social_fb.user__social_color_gray:hover,
.user__social_fb.user__social_color_gray:focus
	background-image: url('../images/fbhover.png')

.user__social_tw.user__social_color_gray
	background-image: url('../images/twgray.png')

.user__social_tw.user__social_color_gray:hover,
.user__social_tw.user__social_color_gray:focus
	background-image: url('../images/twhover.png')