.user__info
	position: relative
	width: 11.2rem; height: 6.3rem
	border-radius: 6px
	text-align: center

.user__info::before
	position: absolute
	display: block
	content: ""
	left: -13px
	top: 50%
	width: 0
	height: 0
	margin-top: -7px
	overflow: hidden
	border: 7px solid transparent
	border-right-color: inherit