include ../title/title
include ../map/map

mixin location-showcase(options = {})
    -
        const {data = {}, title = ""} = options;
    .location-showcase
        .location-showcase__title
            +title({text: title, level: 3})
        .location-showcase__el
            +map(data)