.bar__dropdown
  position: relative
  width: 100%
  border: none
  border-radius: 0 0 3px 3px
  padding: .35rem .9rem .5rem .9rem
  box-sizing: border-box
  flex-shrink: 1
  background-color: #e5e5e5
  transition: .4s all

.bar__dropdown:focus
  background-color: #e75735
  color: white