.user__infoSocial_dr.user__infoSocial_color_gray
	background-image: url('../images/drgray.png')

.user__infoSocial_dr.user__infoSocial_color_gray:hover,
.user__infoSocial_dr.user__infoSocial_color_gray:focus
	background-image: url('../images/drhover.png')

.user__infoSocial_fb.user__infoSocial_color_gray
	background-image: url('../images/fbgray.png')

.user__infoSocial_fb.user__infoSocial_color_gray:hover,
.user__infoSocial_fb.user__infoSocial_color_gray:focus
	background-image: url('../images/fbhover.png')

.user__infoSocial_tw.user__infoSocial_color_gray
	background-image: url('../images/twgray.png')

.user__infoSocial_tw.user__infoSocial_color_gray:hover,
.user__infoSocial_tw.user__infoSocial_color_gray:focus
	background-image: url('../images/twhover.png')