.user__infoSocial_dr.user__infoSocial_color_aquamarine
	background-image: url('../images/draquamarine.png')

.user__infoSocial_dr.user__infoSocial_color_aquamarine:hover,
.user__infoSocial_dr.user__infoSocial_color_aquamarine:focus
	background-image: url('../images/drhover.png')

.user__infoSocial_fb.user__infoSocial_color_aquamarine
	background-image: url('../images/fbaquamarine.png')

.user__infoSocial_fb.user__infoSocial_color_aquamarine:hover,
.user__infoSocial_fb.user__infoSocial_color_aquamarine:focus
	background-image: url('../images/fbhover.png')

.user__infoSocial_tw.user__infoSocial_color_aquamarine
	background-image: url('../images/twaquamarine.png')

.user__infoSocial_tw.user__infoSocial_color_aquamarine:hover,
.user__infoSocial_tw.user__infoSocial_color_aquamarine:focus
	background-image: url('../images/twhover.png')