include ../wrapper/wrapper
include ../title/title
include ../form/form
include ../user/user

mixin bars-users-showcase-blocks(options = {})
    -
        const {formData = {}, usersData = []} = options;
    +wrapper
        +wrapper({size: "48perc", centering: false})
            .block
                .block__title
                    +title({text: "search / drop down", level: 3})
                .block__el.block__el_margin_big
                    +form(formData)
        +wrapper({size: "48perc", centering: false})
            .block
                .block__title
                    +title({text: "User profile", level: 3})
                for userData in usersData
                    .block__el.block__el_margin_extra
                        +user(userData)