.button__content_color_aquamarineAlternate
	color: #4eb7a8
	fill: #4eb7a8

.button:hover .button__content_color_aquamarineAlternate
.button:focus .button__content_color_aquamarineAlternate
.button:active .button__content_color_aquamarineAlternate
	color: white
	fill: white