.button__content_color_orange
	color: #e34a26
	fill: #e34a26

.button:hover .button__content_color_orange
.button:focus .button__content_color_orange
.button:active .button__content_color_orange
	color: white
	fill: white