include ../title/title
include ../stepbar/stepbar
include ../rate/rate

mixin stats-block(options = {})
    -
        const {rateData = [], coverageData = {}} = options;
    section.stats-block
        .stats-block__title
            +title({text: "Наши показатели"})
        section.stats-block__el
            .stats-block__title
                +title({text: "Желаемый охват городов", level: 3})
            .stats-block__el
                +stepbar(coverageData)
        section.stats-block__el.stats-block__el_type_stats
            for rate in rateData
                +rate({title: rate.title, id: rate.id})