include ../title/title
include ../stepbar/stepbar
include ../rate/rate

mixin stats-block(options = {})
    -
        const {rateData = [], coverageData = {}, title = ""} = options;
    section.stats-block
        .stats-block__title
            +title({text: title})
        section.stats-block__el
            .stats-block__title
                +title({text: coverageData.title, level: 3})
            .stats-block__el
                +stepbar(coverageData.data)
        section.stats-block__el.stats-block__el_type_stats
            for rate in rateData
                +rate({title: rate.title, id: rate.id})