.button__inner_form_box
	width: 100%;
	transform: translateY(-3px)
	border-width: 1px
	border-style: solid
	border-radius: 3px
	z-index: 0

.button:active .button__inner_form_box
	transform: translateY(0)