.button__inner_form_boxEvent
  width: 100%
  min-width: 7.8rem
  transform: translateY(-2px)
  border-width: 1px
  border-style: solid
  border-radius: 3px
  z-index: 0

.button:active .button__inner_form_boxEvent
  transform: translateY(0)