.button__inner_form_boxMini
  width: 100%
  min-width: 5.2rem
  transform: translateY(-2px)
  border-width: 1px
  border-style: solid
  border-radius: 3px
  z-index: 0

.button:active .button__inner_form_boxMini
  transform: translateY(0)