include ../wrapper/wrapper
include ../title/title
include ../calendar/calendar
include ../messenger/messenger

mixin calendar-messanger-showcase-block(options)
    -
        options = options || {};
        const {messengerData = {}} = options;
    +wrapper({justify: "between"})
        +wrapper({centering: false, size: "48%"})
            .block
                .block__title
                    +title({text: "Calendar", level: 3})
                .block__el.block__el_margin_calendar-messages
                    +calendar
        +wrapper({centering: false, size: "48%"})
            .block
                .block__title
                    +title({text: "Messeging", level: 3})
                .block__el.block__el_margin_calendar-messages
                    +messenger(messengerData)