//- Миксин создаёт кнопку. Свойства:
//- "form" (string) ['box', 'boxMini', 'boxEvent', 'round'] 					- отвечает форму кнопки. 												По умолчанию - 'box'.
//- "type" (string) [стандартные html значения] 								- отвечает роль кнопки в форме. 										По умолчанию - 'button'.
//- 'blocked' (boolean / nothing) 												- заблокирована кнопка или нет.
//- 'theme' (string) ['orange', 'aquamarine', 'aquamarineAlternate', 'blocked'] - цветовая схема кнопки 												По умолчанию - 'aquamarine'.
//- 'content' (string) [string, 'rightArrow', 'leftArrow'] 						- содержание кнопки (текст для формы 'box', стрелки для формы 'round') 	По умолчанию - 'button'.
mixin buttonMix(options)
	-
		var options	= options ? options : {};
		var form 	= options.form ? options.form : 'box',
			type	= options.type ? options.type : 'button',
			blocked	= options.blocked,
			theme 	= options.theme ? options.theme : 'aquamarine',
			content = options.content ? options.content : 'button';

	button.button(class= '' + ( ' button_theme_' + theme) type=type)&attributes(attributes)
		.button__outer(class='' + (' button__outer_form_' + form))
			.button__inner(class='' + (' button__inner_form_' + form))
				if blocked !== true
					.button__rippleEffect
				case form
					when 'box' 
					when 'boxMini'
					when 'boxEvent'
						.button__content(class='' + (' button__content_form_' + form))= content

					when 'round'
						svg.button__content(viewbox='0 0 44 44' class='' + (' button__content_form_' + form))

							case content
								when 'rightArrow'
								when 'button'
									g(transform='translate(25, 11) rotate(45)')
										rect(width='4' height='17')
										rect(width='17' height='4' y='13')

								when 'leftArrow'
									g(transform='translate(20, 11) rotate(45)')
										rect(width='4' height='17' x='13')
										rect(width='17' height='4')