mixin buttonMix(options)
	-
		var options	= options ? options : {};
		var form 	= options.form ? options.form : 'box',
			type	= options.type ? options.type : 'button',
			blocked	= options.blocked,
			color 	= blocked === true ? 'blocked' : options.color ? options.color : 'aquamarine',
			content = options.content ? options.content : 'button';

	button.button(class= '' + ( blocked === true ? ' button_blocked' : '') type=type)
		.button__outer(class='' + 
				(' button__outer_form_' + form) + 
				(' button__outer_color_' + color))

			.button__inner(class='' +
					(' button__inner_form_' + form) + 
					(' button__inner_color_' + color))

				if blocked !== true
					.button__rippleEffect
					
				case form
					when 'box' 
					when 'boxMini'
					when 'boxEvent'
						.button__content(class='' + 
								(' button__content_form_' + form) + 
								(' button__content_color_' + color))= content

					when 'round'
						svg.button__content(viewbox='0 0 44 44'
							class='' +
								(' button__content_form_' + form) + 
								(' button__content_color_' + color))

							case content
								when 'rightArrow'
								when 'button'
									g(transform='translate(25, 11) rotate(45)')
										rect(width='4' height='17')
										rect(width='17' height='4' y='13')

								when 'leftArrow'
									g(transform='translate(20, 11) rotate(45)')
										rect(width='4' height='17' x='13')
										rect(width='17' height='4')