.messenger__message_sender_interlocutor
  background-color: white
  color: #868686

.messenger__message_sender_interlocutor::before
  content: ''
  display: block
  position: absolute
  border: 6px solid transparent
  border-bottom-color: inherit
  left: 50%
  margin-left: -3px
  top: -12px