.dropdown__optionsBox
  position: absolute
  width: 100%
  top: 100%
  left: 0
  margin-top: 3px
  box-sizing: border-box
  background-color: white
  border: 1px solid #4eb7a8
  border-radius: 3px
  cursor: default
  transition: .3s all
  z-index: 999

.dropdown__optionsBox::before
  content: ''
  position: absolute
  display: block
  width: 0; height: 0
  top: -7px; left: 50%
  margin-left: -3px;
  overflow: hidden
  border: 3px solid transparent
  border-bottom-color: inherit