.user
  width: 18.2rem

  &__outer
    display: flex
    width: 100%
    justify-content: space-between

  &__image
    width: 6.3rem

  &__info
    position: relative
    width: 11.15rem
    min-height: 6.3rem
    border-radius: 6px
    text-align: center

    &::before
      position: absolute
      display: block
      content: ""
      left: -13px
      top: 50%
      width: 0
      height: 0
      margin-top: -7px
      overflow: hidden
      border: 7px solid transparent
      border-right-color: inherit

    &_theme
      &_aquamarine
        background-color: #4eb7a8
        border-color: #4eb7a8

      &_gray
        background-color: #e5e5e5
        border-color: #e5e5e5

  &__name
    display: block
    margin-top: .6rem
    font-size: 1.2rem
    font-style: normal

    &_theme
      &_aquamarine
        color: white

      &_gray
        color: #e75735

  &__profession
    display: block
    font-style: normal
    text-transform: uppercase
    font-size: .8rem
    font-weight: bold

    &_theme
      &_aquamarine
        color: white

      &_gray
        color: #4f4f4f

  &__socialBox
    display: flex
    width: 7rem
    margin: .8rem auto 0 auto
    justify-content: space-between

  &__social
    width: 1.45rem
    height: 1.45rem
    background-size: auto
    background-position: center
    background-repeat: no-repeat
    transition: .3s all

    &_theme
      &_aquamarine
        fill: white
        
      &_aquamarine:hover
      &_aquamarine:focus
        fill: #e75735

      &_gray
        fill: #757575
        
      &_gray:hover
      &_gray:focus
        fill: #e75735