.article__el {
  margin-top: 0.8rem;
}
.article__el:first-child {
  margin-top: 0;
}
.article__title {
  font-family: Lato, Arial, sans-serif;
  font-wight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: start;
  text-decoration: underline;
}
.article__content {
  margin-top: 0.4rem;
  text-indent: 1rem;
}

.base {
  margin: 2rem 0;
}
.base__section_type_normal {
  margin-top: 3rem;
}
.base__section_type_large {
  margin-top: 3.6rem;
}
.base__section_type_charts {
  margin-top: 3.2rem;
}
.base__section_type_sliders {
  margin-top: 1.6rem;
}
.base__section_type_stages {
  margin-top: 2rem;
}
.base__section_type_form {
  margin-top: 2.5rem;
}
.base__section_type_bars-users {
  margin-top: 4.5rem;
}
.base__section_type_events {
  margin-top: 6.2rem;
}
.base__section:first-child {
  margin-top: 0;
}

.block {
  width: 100%;
}
.block__el_margin_normal {
  margin-top: 0.8rem;
}
.block__el_margin_big {
  margin-top: 1.2rem;
}
.block__el_margin_extra {
  margin-top: 2rem;
}
.block__el_margin_buttons {
  margin-top: 4.8rem;
}
.block__el_margin_buttons-round {
  margin-top: 2.3rem;
}
.block__el_margin_stepbar {
  margin-top: 1.3rem;
}
.block__el_margin_sliders {
  margin-top: 0.5rem;
}
.block__el_margin_form {
  margin-top: 3.2rem;
}
.block__el_margin_events {
  margin-top: 2.2rem;
}
.block__el_margin_tick {
  margin-top: 2.5rem;
}
.block__el_margin_calendar-messages {
  margin-top: 1.7rem;
}
.block__el_margin_video {
  margin-top: 1.5rem;
}
.block__el_type_users {
  padding-left: 1.4rem;
}
.block__el:first-child {
  margin-top: 0;
}

.button-round {
  overflow: hidden;
}
.button-round:active {
  transition: 0.2s all;
  transform: scale(0.95);
}
.button-round_blocked {
  cursor: default;
}
.button-round__outer {
  display: flex;
  position: relative;
  transition: 0.2s all;
  border-radius: 100%;
  border: 3px solid;
}
.button-round .button-round__outer.button-round__outer_blocked,
.button-round:hover .button-round__outer.button-round__outer_blocked,
.button-round:active .button-round__outer.button-round__outer_blocked,
.button-round:focus .button-round__outer.button-round__outer_blocked {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}
.button-round__outer_theme_aquamarine {
  border-color: #28a290;
  background-color: #fff;
}
.button-round:hover .button-round__outer_theme_aquamarine,
.button-round:focus .button-round__outer_theme_aquamarine,
.button-round:active .button-round__outer_theme_aquamarine {
  background-color: #28a290;
}
.button-round__outer_theme_aquamarine-alternate {
  border-color: #28a290;
  background-color: #28a290;
}
.button-round:hover .button-round__outer_theme_aquamarine-alternate,
.button-round:focus .button-round__outer_theme_aquamarine-alternate,
.button-round:active .button-round__outer_theme_aquamarine-alternate {
  background-color: #28a290;
}
.button-round__rippleEffect {
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
}
.button-round__rippleEffect_start {
  transform: scale(0.2);
}
.button-round__rippleEffect_active {
  transform: scale(2);
  transition: transform 700ms, opacity 700ms;
  opacity: 0;
}
.button-round__content {
  display: block;
  transition: 0.2s all;
  width: 3rem;
  height: 3rem;
}
.button-round .button-round__content.button-round__content_blocked,
.button-round:hover .button-round__content.button-round__content_blocked,
.button-round:active .button-round__content.button-round__content_blocked,
.button-round:focus .button-round__content.button-round__content_blocked {
  color: #fff;
  fill: #fff;
}
.button-round__content_theme_aquamarine {
  color: #4eb7a8;
  fill: #4eb7a8;
}
.button-round:hover .button-round__content_theme_aquamarine,
.button-round:focus .button-round__content_theme_aquamarine,
.button-round:active .button-round__content_theme_aquamarine {
  color: #fff;
  fill: #fff;
}
.button-round__content_theme_aquamarine-alternate {
  color: #fff;
  fill: #fff;
}
.button-round:hover .button-round__content_theme_aquamarine-alternate,
.button-round:focus .button-round__content_theme_aquamarine-alternate,
.button-round:active .button-round__content_theme_aquamarine-alternate {
  color: #fff;
  fill: #fff;
}

.button {
  overflow: hidden;
}
.button_form_box-mini {
  height: 1.8rem;
}
.button_form_box {
  height: 2.4rem;
}
.button_blocked {
  cursor: default;
}
.button_size_auto {
  width: 100%;
}
.button__outer {
  display: flex;
  position: relative;
  width: 100%;
  transition: 0.2s all;
}
.button .button__outer.button__outer_blocked,
.button:hover .button__outer.button__outer_blocked,
.button:active .button__outer.button__outer_blocked,
.button:focus .button__outer.button__outer_blocked {
  background-color: #e5e5e5;
}
.button__outer_form_box {
  border-radius: 2px;
  margin-top: 3px;
}
.button__outer_form_box-mini {
  border-radius: 2px;
  margin-top: 2px;
}
.button__outer_theme_aquamarine {
  background-color: #4eb7a8;
}
.button:hover .button__outer_theme_aquamarine,
.button:focus .button__outer_theme_aquamarine,
.button:active .button__outer_theme_aquamarine {
  background-color: #28a290;
}
.button__outer_theme_aquamarine-alternate {
  background-color: #28a290;
}
.button:hover .button__outer_theme_aquamarine-alternate,
.button:focus .button__outer_theme_aquamarine-alternate,
.button:active .button__outer_theme_aquamarine-alternate {
  background-color: #2b7a6e;
}
.button__outer_theme_orange {
  background-color: #e75735;
}
.button:hover .button__outer_theme_orange,
.button:focus .button__outer_theme_orange,
.button:active .button__outer_theme_orange {
  background-color: #bf3e1f;
}
.button__outer_theme_orange-alternate {
  background-color: #bf3e1f;
}
.button:hover .button__outer_theme_orange-alternate,
.button:focus .button__outer_theme_orange-alternate,
.button:active .button__outer_theme_orange-alternate {
  background-color: #bf3e1f;
}
.button__inner {
  transition: 0.2s all;
}
.button .button__inner.button__inner_blocked,
.button:hover .button__inner.button__inner_blocked,
.button:focus .button__inner.button__inner_blocked,
.button:active .button__inner.button__inner_blocked {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.button__inner_form_box {
  width: 100%;
  min-width: 7.8rem;
  transform: translateY(-3px);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  z-index: 0;
}
.button:active .button__inner_form_box {
  transform: translateY(0);
}
.button__inner_form_box-mini {
  width: 100%;
  min-width: 5.2rem;
  transform: translateY(-2px);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  z-index: 0;
}
.button:active .button__inner_form_box-mini {
  transform: translateY(0);
}
.button__inner_theme_aquamarine {
  background-color: #fff;
  border-color: #4eb7a8;
}
.button:hover .button__inner_theme_aquamarine,
.button:focus .button__inner_theme_aquamarine,
.button:active .button__inner_theme_aquamarine {
  background-color: #4eb7a8;
}
.button__inner_theme_aquamarine-alternate {
  background-color: #4eb7a8;
  border-color: #4eb7a8;
}
.button:hover .button__inner_theme_aquamarine-alternate,
.button:focus .button__inner_theme_aquamarine-alternate,
.button:active .button__inner_theme_aquamarine-alternate {
  background-color: #249181;
  border-color: #249181;
}
.button__inner_theme_orange {
  background-color: #fff;
  border-color: #e75735;
}
.button:hover .button__inner_theme_orange,
.button:focus .button__inner_theme_orange,
.button:active .button__inner_theme_orange {
  background-color: #e75735;
}
.button__inner_theme_orange-alternate {
  background-color: #e75735;
  border-color: #e75735;
}
.button:hover .button__inner_theme_orange-alternate,
.button:focus .button__inner_theme_orange-alternate,
.button:active .button__inner_theme_orange-alternate {
  background-color: #e75735;
}
.button__rippleEffect {
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
}
.button__rippleEffect_start {
  transform: scale(0.2);
}
.button__rippleEffect_active {
  transform: scale(2);
  transition: transform 700ms, opacity 700ms;
  opacity: 0;
}
.button__content {
  display: block;
  transition: 0.2s all;
}
.button .button__content.button__content_blocked,
.button:active .button__content.button__content_blocked,
.button:focus .button__content.button__content_blocked,
.button:hover .button__content.button__content_blocked {
  color: #fff;
  fill: #fff;
}
.button__content_form_box {
  font-family: Lato;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.55rem 2.3rem;
}
.button__content_form_box-mini {
  font-family: Lato;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.3rem 1.1rem;
}
.button__content_theme_aquamarine {
  color: #4eb7a8;
  fill: #4eb7a8;
}
.button:hover .button__content_theme_aquamarine,
.button:focus .button__content_theme_aquamarine,
.button:active .button__content_theme_aquamarine {
  color: #fff;
  fill: #fff;
}
.button__content_theme_aquamarine-alternate {
  color: #fff;
  fill: #fff;
}
.button:hover .button__content_theme_aquamarine-alternate,
.button:focus .button__content_theme_aquamarine-alternate,
.button:active .button__content_theme_aquamarine-alternate {
  color: #fff;
  fill: #fff;
}
.button__content_theme_orange {
  color: #e34a26;
  fill: #e34a26;
}
.button:hover .button__content_theme_orange,
.button:focus .button__content_theme_orange,
.button:active .button__content_theme_orange {
  color: #fff;
  fill: #fff;
}
.button__content_theme_orange-alternate {
  color: #fff;
  fill: #fff;
}
.button:hover .button__content_theme_orange-alternate,
.button:focus .button__content_theme_orange-alternate,
.button:active .button__content_theme_orange-alternate {
  color: #fff;
  fill: #fff;
}

.calendar {
  min-width: 13rem;
  overflow: hidden;
  border-radius: 3px;
}
.calendar_size_normal {
  width: 19rem;
}
.calendar_size_min {
  width: 3rem;
}
.calendar_size_auto {
  width: 100%;
}
.calendar__header {
  width: 100%;
  height: 7.4rem;
  background-color: #e75735;
  overflow: hidden;
}
.calendar__today {
  margin-top: 0.6rem;
  font-size: 5.3rem;
  text-align: center;
  font-family: Lato, Arial, sans-serif;
  font-weight: 200;
  color: #fff;
}

.chart {
  min-width: 8.1rem;
}
.chart_size_auto {
  width: 100%;
}
.chart_size_min {
  width: 8.1rem;
  height: 8.1rem;
}
.chart_type_pie {
  padding: 0.6rem;
  box-sizing: border-box;
}

.dropdown {
  width: 100%;
}
.dropdown__outer {
  position: relative;
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: space-between;
}
.dropdown__currentValue {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 6rem;
  border-radius: 3px 0 0 3px;
  padding: 0.35rem 0.9rem 0.5rem 0.9rem;
  box-sizing: border-box;
  flex-shrink: 1;
  background-color: #e5e5e5;
  color: #888;
  transition: 0.4s all;
  cursor: default;
}
.dropdown__currentValue:focus {
  background-color: #e75735;
  color: #fff;
}
.dropdown__button {
  width: 2.2rem;
  height: 100%;
  border-radius: 0 3px 3px 0;
  fill: #fff;
  flex-shrink: 0;
  transition: 0.2s all;
  cursor: pointer;
  background-color: #4eb7a8;
}
.dropdown__button:hover,
.dropdown__button:focus {
  background-color: #28a290;
}
.dropdown__optionsBox {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  margin-top: -3px;
  box-sizing: border-box;
  background-color: #4eb7a8;
  border-radius: 3px;
  border-top-right-radius: 0;
  border: 1px solid #4eb7a8;
  cursor: default;
  transition: 0.3s all;
  z-index: 999;
}
.dropdown__optionsBox_state_hidden {
  display: none;
}
.dropdown__optionsBox_state_visible {
  display: block;
}
.dropdown__option {
  position: relative;
  padding: 0.35rem 0.9rem 0.5rem 0.9rem;
  cursor: pointer;
  color: #fff;
  transition: 0.3s all;
}
.dropdown__option:hover,
.dropdown__option:focus {
  color: #fff;
  background-color: #509d92;
}

.form {
  width: 100%;
}
.form__el {
  display: flex;
  width: 100%;
}
.form__el_margin_normal {
  margin-top: 0.8rem;
}
.form__el_margin_big {
  margin-top: 1rem;
}
.form__el:first-child {
  margin-top: 0;
}
.form__el-entry_size_auto {
  flex-shrink: 0;
}
.form__el-entry_size_fill {
  width: 100%;
}
.form__el-text {
  width: 100%;
  cursor: default;
  font-style: normal;
}
.form__submit {
  margin-top: 0.6rem;
  margin-left: auto;
  display: table;
}

.header__title {
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 0.2rem solid #4eb7a8;
}
.header__nav {
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin: 0.4rem auto 0;
}

.icon {
  width: 100%;
  height: 100%;
}
.icon__outer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: #e5e5e5;
}
.icon__image {
  position: absolute;
  padding: 5%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  object-fit: cover;
  background-clip: content-box;
}

.input {
  width: 100%;
  height: 100%;
}
.input__outer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.input__entry {
  width: 100%;
  height: 100%;
  font-family: Lato, Arial, sans-serif;
  border: none;
  padding: 0.35rem 0.9rem 0.5rem 0.9rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  flex-shrink: 1;
  color: #888;
  transition: 0.4s all;
}
.input__entry_color_aquamarine {
  background-color: #e5e5e5;
}
.input__entry_color_aquamarine:focus {
  background-color: #4eb7a8;
  color: #fff;
}
.input__entry_color_orange {
  background-color: #e5e5e5;
}
.input__entry_color_orange:focus {
  background-color: #e75735;
  color: #fff;
}
.input__entry_form_box {
  min-height: 6rem;
}
.input__entry_form_boxMini {
  min-height: 4rem;
}
.input__entry_radius_default {
  border-radius: 3px;
}
.input__entry_radius_left {
  border-radius: 3px 0 0 3px;
}
.input__message {
  position: relative;
  width: 3.1rem;
  margin-left: 0.5rem;
  padding: 0.55rem 0.9rem 0.5rem 0.9rem;
  flex-shrink: 0;
  border-radius: 4px;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: 0.3s all;
  cursor: default;
}
.input__message::before {
  position: absolute;
  display: block;
  content: '';
  left: -6px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-right-color: inherit;
}
.input__message_state_error {
  background-color: #e75735;
  border-color: #e75735;
}
.input__message_state_hidden {
  display: none;
}
.input__message_state_succes {
  background-color: #4eb7a8;
  border-color: #4eb7a8;
}

.map {
  width: 100%;
  height: 100%;
}
.map__outer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  min-height: 18.5rem;
}
.map__holder {
  width: 100%;
  top: 0;
  bottom: 4.7rem;
  position: absolute;
}
.map__overlay {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  padding: 1rem 1.3rem 1.35rem 2rem;
  background-color: #e75735;
  color: #fff;
}
.map__title {
  float: left;
  display: inline-block;
  font-style: normal;
  font-family: Lato, Arial, sans-serif;
  font-weight: 200;
  font-size: 2rem;
}
.map__adressBox {
  display: inline-block;
  margin-left: 1.6rem;
  margin-top: 0.3rem;
  float: left;
}
.map__adress {
  display: block;
  font-style: normal;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.map__button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-top: 0.3rem;
  float: right;
  transition: 0.1s all;
  background-size: contain;
  background-repeat: no-repeat;
}
.map__button:hover,
.map__button:focus {
  transform: scale(1.1);
}
.map__button:active {
  transform: scale(0.9);
}
.map__button_type_me {
  margin-right: 1rem;
  background-image: url("../images/me-icon.png");
}
.map__button_type_marker {
  background-image: url("../images/marker-icon.png");
}

.messenger {
  min-width: 12.5rem;
}
.messenger_size_min {
  width: 12.5rem;
}
.messenger_size_auto {
  width: 100%;
}
.messenger_size_normal {
  width: 19.6rem;
}
.messenger__header {
  position: relative;
  width: 100%;
  height: 5.6rem;
  border-radius: 3px 3px 0 0;
  background-color: #4eb7a8;
  border-bottom: 2.35rem solid #46ab9d;
}
.messenger__title {
  display: block;
  padding-top: 1.25rem;
  text-align: center;
  font-size: 2.1rem;
  font-family: Lato, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #fff;
}
.messenger__image {
  position: absolute;
  top: 4.75rem;
  width: 6.5rem;
  left: 50%;
  margin-left: -3.25rem;
}
.messenger__body {
  width: 100%;
  padding: 8%;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  overflow: hidden;
}
.messenger__modeBox {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.messenger__mode {
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.1s all;
}
.messenger__mode:hover,
.messenger__mode:focus {
  transform: scale(1.1);
}
.messenger__mode:active {
  transform: scale(0.9);
}
.messenger__mode_type_text {
  background-image: url("../images/chat-icon.png");
}
.messenger__mode_type_photo {
  background-image: url("../images/camera-icon.png");
}
.messenger__chat {
  width: 100%;
  min-height: 5.85rem;
  max-height: 10rem;
  margin-top: 0.85rem;
  overflow: auto;
  border-radius: 2px;
}
.messenger__message {
  position: relative;
  margin-top: 0.75rem;
  padding: 1.1rem 1.3rem 1.7rem;
  border-radius: 3px;
  font-size: 0.8rem;
  border-color: #fff;
}
.messenger__message:first-child {
  margin-top: 4px;
}
.messenger__message_sender_interlocutor {
  background-color: #fff;
  color: #868686;
}
.messenger__message_sender_interlocutor::before {
  content: '';
  display: block;
  position: absolute;
  border: 6px solid transparent;
  border-bottom-color: inherit;
  left: 50%;
  margin-left: -3px;
  top: -12px;
}
.messenger__message_sender_user {
  background-color: #4eb7a8;
  color: #fff;
}
.messenger__entry {
  width: 100%;
  height: 6rem;
  margin-top: 0.3rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  padding: 0.2rem;
  box-sizing: border-box;
}
.messenger__send {
  width: 100%;
  margin-top: 1rem;
}

.note {
  min-width: 19.65rem;
}
.note_size_min {
  width: 19.65rem;
}
.note_size_auto {
  width: 100%;
}
.note__outer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 3px;
  overflow: hidden;
}
.note__imageBox {
  width: 33%;
  flex-shrink: 0;
}
.note__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.note__info {
  width: 67%;
  min-height: 11.45rem;
  padding: 1.5rem;
}
.note__info_type_event {
  background-color: #4eb7a8;
}
.note__info_type_news {
  background-color: #e75735;
}
.note__title {
  display: block;
  font-style: normal;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
}
.note__title_type_event {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.note__title_type_news {
  font-weight: 200;
  font-size: 2rem;
  line-height: 0.85;
}
.note__date {
  display: inline-block;
  font-style: normal;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
}
.note__date_type_eventDay {
  font-size: 5rem;
  font-weight: 200;
  line-height: 0.8;
}
.note__date_type_eventMonth {
  font-weight: 200;
  font-size: 2rem;
}
.note__date_type_news {
  font-weight: bold;
  margin-top: 0.9rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.note__description {
  font-size: 0.75rem;
  font-family: Lato;
  font-weight: 450;
  color: #fff;
}
.note__description_type_event {
  margin-top: 0.3rem;
}
.note__description_type_news {
  margin-top: 0.8rem;
}
.note__button {
  width: 88%;
  margin: 1.2rem auto 0 auto;
}

.p {
  text-indent: 1rem;
}

.rate {
  width: 25%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.rate__title {
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.rate__value {
  margin-top: 0.8rem;
  width: 8.1rem;
  height: 8.1rem;
}

.searchbar {
  width: 100%;
  min-width: 18rem;
}
.searchbar__outer {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: space-between;
}
.searchbar__input {
  height: 100%;
  width: 100%;
  flex-shrink: 1;
}
.searchbar__button {
  width: 2.2rem;
  height: 100%;
  border-radius: 0 3px 3px 0;
  fill: #fff;
  flex-shrink: 0;
  transition: 0.2s all;
  cursor: pointer;
  background-color: #e75735;
}
.searchbar__button:hover,
.searchbar__button:focus {
  background-color: #bf3e1f;
}

.slider {
  min-width: 18rem;
  min-height: 5rem;
}
.slider_size_min {
  width: 18rem;
}
.slider_size_auto {
  width: 100%;
}


.tick {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  cursor: pointer;
}
.tick__fakeInput {
  display: none;
}
.tick__fakeInput:checked + .tick__outer {
  background-color: #4eb7a8;
}
.tick__outer {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  transition: 0.2s all;
  background-color: #e5e5e5;
}
.tick__icon {
  fill: #c0c0c0;
}
.tick__fakeInput:checked + .tick__outer .tick__icon {
  fill: #fff;
}

.title {
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.title_align_center {
  text-align: center;
}
.title_align_start {
  text-align: start;
}
.title_level_1 {
  font-size: 2.5rem;
  border-bottom: 0.2rem solid #4eb7a8;
}
.title_level_2 {
  font-size: 1.75rem;
  border-bottom: 0.2rem dashed #4eb7a8;
}
.title_level_3 {
  font-size: 1.25rem;
}

.toggle {
  width: 4rem;
  height: 1.6rem;
}
.toggle__fakeInput {
  display: none;
}
.toggle__outer {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 12px;
  transition: 0.3s all;
  background-color: #e5e5e5;
}
.toggle__fakeInput:checked + .toggle__outer {
  background-color: #4eb7a8;
}
.toggle__outer::after {
  content: "off";
  position: absolute;
  top: 0.25rem;
  font-size: 0.8rem;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s all;
  left: 1.75rem;
}
.toggle__fakeInput:checked + .toggle__outer::after {
  content: "on";
  left: 0.75rem;
}
.toggle__handle {
  top: 0.2rem;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.2s all;
  left: 0.2rem;
}
.toggle__fakeInput:checked + .toggle__outer .toggle__handle {
  left: 2.6rem;
}

.user {
  width: 18.2rem;
}
.user__outer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.user__image {
  width: 6.3rem;
}
.user__info {
  position: relative;
  width: 11.15rem;
  min-height: 6.3rem;
  border-radius: 6px;
  text-align: center;
}
.user__info::before {
  position: absolute;
  display: block;
  content: "";
  left: -13px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -7px;
  overflow: hidden;
  border: 7px solid transparent;
  border-right-color: inherit;
}
.user__info_theme_aquamarine {
  background-color: #4eb7a8;
  border-color: #4eb7a8;
}
.user__info_theme_gray {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.user__name {
  display: block;
  margin-top: 0.6rem;
  font-size: 1.2rem;
  font-style: normal;
}
.user__name_theme_aquamarine {
  color: #fff;
}
.user__name_theme_gray {
  color: #e75735;
}
.user__profession {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
.user__profession_theme_aquamarine {
  color: #fff;
}
.user__profession_theme_gray {
  color: #4f4f4f;
}
.user__socialBox {
  display: flex;
  width: 7rem;
  margin: 0.8rem auto 0 auto;
  justify-content: space-between;
}
.user__social {
  width: 1.45rem;
  height: 1.45rem;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s all;
}
.user__social_theme_aquamarine {
  fill: #fff;
}
.user__social_theme_aquamarine:hover,
.user__social_theme_aquamarine:focus {
  fill: #e75735;
}
.user__social_theme_gray {
  fill: #757575;
}
.user__social_theme_gray:hover,
.user__social_theme_gray:focus {
  fill: #e75735;
}

.video {
  width: 100%;
}
.video__outer {
  width: 100%;
  position: relative;
}
.video__info {
  position: absolute;
  padding: 1.8rem 2.7rem;
  opacity: 0;
  transition: 0.3s all;
  z-index: 1;
}
.video__info:hover,
.video__info:focus {
  opacity: 1;
}
.video__title {
  display: block;
  font-style: normal;
  text-transform: capitalize;
  font-family: Lato, Arial, sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  color: #fff;
}
.video__author {
  display: block;
  color: #fff;
  font-size: 0.8rem;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.video__author::before {
  content: 'from ';
}
.video__link {
  display: block;
  margin-top: 1.6rem;
  text-decoration: none;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper_align_end {
  align-items: flex-end;
}
.wrapper_size_full {
  width: 100%;
}
.wrapper_size_half {
  width: 50%;
}
.wrapper_size_48perc {
  width: 48.5%;
}
.wrapper_size_75perc {
  width: 75%;
}
.wrapper_size_82perc {
  width: 82%;
}
.wrapper_size_22perc {
  width: 22%;
}
.wrapper_centering {
  margin-left: auto;
  margin-right: auto;
}
.wrapper_justify_around {
  justify-content: space-around;
}
.wrapper_justify_between {
  justify-content: space-between;
}

/***常量***/
/***function***/
/***style***/
.perfect-datetimepicker {
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 14px;
  color: #333;
  background-color: #fafafa;
  line-height: 0;
  overflow: hidden;
}
.perfect-datetimepicker * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.perfect-datetimepicker table {
  width: 100%;
  margin: 0;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #fff;
}
.perfect-datetimepicker table td {
  border: 0;
  text-align: center;
  padding: 2px;
  width: 34px;
  height: 2.75rem;
  cursor: pointer;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0;
  background-color: #f2f2f2;
  font-size: 1.25rem;
}
.perfect-datetimepicker thead {
  color: #fff;
}
.perfect-datetimepicker thead td {
  height: 1.75rem;
}
.perfect-datetimepicker thead tr td {
  background-color: #e75735;
}
.perfect-datetimepicker thead tr.mainhead td {
  background-color: #d54c2c;
}
.perfect-datetimepicker thead tr.mainhead td {
  width: 1rem;
  height: 3rem;
}
.perfect-datetimepicker thead td.day {
  color: #fff;
}
.perfect-datetimepicker thead tr.mainhead td.title {
  font-family: Lato;
  font-weight: 200;
  font-size: 1.65rem;
  padding-bottom: 0.5rem;
}
.perfect-datetimepicker table.mt tbody td {
  width: 58px;
  height: 38px;
}
.perfect-datetimepicker td.day {
  color: #868686;
  width: 14.28571429%;
}
.perfect-datetimepicker td.name {
  font-family: Lato;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6rem;
}
.perfect-datetimepicker td.oday {
  color: #fff;
  cursor: auto;
}
.perfect-datetimepicker td.disabled {
  color: #999;
  cursor: auto;
}
.perfect-datetimepicker td i {
  font-size: 18px;
  font-weight: bold;
}
.perfect-datetimepicker td table.tt {
  border: 0;
  padding: 0;
}
.perfect-datetimepicker table.tt {
  padding: 5px;
}
.perfect-datetimepicker table.tt td.hover {
  border: 0;
}
.perfect-datetimepicker table.tt td.common {
  width: 5px;
}
.perfect-datetimepicker table.tt tbody td {
  width: 40px;
  height: 14px;
}
.perfect-datetimepicker table.tt input {
  outline: none;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 0 !important;
  width: 38px;
  height: 24px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -ms-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -webkit-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -o-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}
.perfect-datetimepicker table.tt input:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0 0 6px rgba(102,175,233,0.6);
  -moz-box-shadow: 0 0 6px rgba(102,175,233,0.6);
  box-shadow: 0 0 6px rgba(102,175,233,0.6);
}
.perfect-datetimepicker table.tt input[type=number]::-webkit-inner-spin-button,
.perfect-datetimepicker table.tt input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.perfect-datetimepicker table.tt input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.perfect-datetimepicker tbody td.hover {
  background-color: #eee;
  padding: 1px;
  border: 1px solid #ccc;
}
.perfect-datetimepicker tbody td.today {
  font-weight: bold;
  color: #e75735;
}
.perfect-datetimepicker .buttonpane tr td.today {
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  color: #868686;
  font-size: 0.9rem;
}
.perfect-datetimepicker .buttonpane {
  padding: 0.3rem 1rem 0.3rem 1.2rem;
  background-color: #e5e5e5;
}
.perfect-datetimepicker tbody td.selected {
  font-weight: bold;
  padding: 1px;
  color: #fff;
  background-color: #e75735;
}
.perfect-datetimepicker tbody tr:last-child td {
  border-bottom: 1px solid transparent;
}
.perfect-datetimepicker tbody td {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  background-clip: padding-box;
}
.perfect-datetimepicker tbody td:last-child {
  border-right: 0;
}
.perfect-datetimepicker tfoot td.hover {
  background-color: #eee;
  padding: 1px;
  border: 1px solid #eee;
}
.perfect-datetimepicker thead td.hover {
  background-color: #eee;
  padding: 1px;
  border: 1px solid #eee;
}
.perfect-datetimepicker thead td.title {
  font-weight: bold;
  text-align: center;
  padding: 2px;
}
i {
  font-family: "finex";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'finex';
  src: url("../fonts/iconfont.eot");
/* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */ url("../fonts/iconfont.woff") format('woff'), /* chrome、firefox */ url("../fonts/iconfont.ttf") format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("../fonts/iconfont.svg#svgFontName") format('svg');
/*  iOS 4.1- */
}
i.icon-datepicker-minus:before {
  content: '\e601';
}
i.icon-datepicker-plus:before {
  content: '\e603';
}
i.icon-datepicker-prev:before {
  content: '\e602';
}
i.icon-datepicker-next:before {
  content: '\e600';
}

@font-face {
  font-family: 'Lato';
  font-weight: 450;
  src: url("../fonts/lato-regular.ttf") format('truetype'), url("../fonts/lato-regular.woff") format('woff'), url("../images/lato-regular.svg") format('svg');
}
@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url("../fonts/lato-black.ttf") format('truetype'), url("../fonts/lato-black.woff") format('woff'), url("../images/lato-black.svg") format('svg');
}
@font-face {
  font-family: 'Lato';
  font-weight: 200;
  src: url("../fonts/lato-light.ttf") format('truetype'), url("../fonts/lato-light.woff") format('woff'), url("../images/lato-light.svg") format('svg');
}
html {
  color: #4f4f4f;
  font-size: 11pt;
  font-family: Lato, Arial, sans-serif;
  font-weight: 450;
}
@media screen and (max-width: 560px) {
  html {
    font-size: 10pt;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 9pt;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 8pt;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 7pt;
  }
}
body {
  margin: 0 auto;
  max-width: 594px;
  padding: 3.5rem;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
p,
em,
h1,
h2,
h3,
hr,
figure,
button {
  margin: 0;
  padding: 0;
}
text {
  font-size: initial;
  dominant-baseline: middle;
}
textarea {
  resize: none;
}

.irs--pips {
  height: 100%;
}
.irs--pips .irs-line {
  top: 2.6rem;
  height: 0.35rem;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--pips .irs-bar {
  top: 2.6rem;
  height: 0.35rem;
  background-color: #4eb7a8;
}
.irs--pips .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--pips .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}
.irs--pips .irs-handle {
  top: 1.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: transparent;
}
.irs--pips .irs-handle > i:first-child {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0.6rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #4eb7a8;
}
.irs--pips .irs-handle.state_hover > i:first-child,
.irs--pips .irs-handle:hover > i:first-child {
  background-color: #28a290;
}
.irs--pips .irs-handle.state_hover > i:first-child,
.irs--pips .irs-handle > i:first-child:focus {
  background-color: #28a290;
}
.irs--pips .irs-min,
.irs--pips .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
  display: none;
}
.irs--pips .irs-from,
.irs--pips .irs-to,
.irs--pips .irs-single {
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.333;
  text-shadow: none;
  padding: 0.2rem 0.7rem;
  background-color: #4eb7a8;
  border-radius: 4px;
  display: none;
}
.irs--pips .irs-from:before,
.irs--pips .irs-to:before,
.irs--pips .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}
.irs--pips .irs-grid-pol {
  background-color: transparent;
}
.irs--pips .irs-grid-text {
  color: #d1d1d1;
  font-size: 0.75rem;
}
.irs--pips .irs-grid {
  bottom: 0.7rem;
}

.irs--simple {
  height: 100%;
}
.irs--simple.irs-with-grid {
  height: 60px;
}
.irs--simple .irs-line {
  top: 2.6rem;
  height: 0.35rem;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--simple .irs-bar {
  top: 2.6rem;
  height: 0.35rem;
  background-color: transparent;
}
.irs--simple .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--simple .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}
.irs--simple .irs-handle {
  top: 1.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: transparent;
}
.irs--simple .irs-handle > i:first-child {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0.6rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #e75735;
}
.irs--simple .irs-handle.state_hover > i:first-child,
.irs--simple .irs-handle:hover > i:first-child {
  background-color: #bf3e1f;
}
.irs--simple .irs-handle.state_hover > i:first-child,
.irs--simple .irs-handle:focus > i:first-child {
  background-color: #bf3e1f;
}
.irs--simple .irs-min,
.irs--simple .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
  display: none;
}
.irs--simple .irs-from,
.irs--simple .irs-to,
.irs--simple .irs-single {
  font-family: Lato;
  font-weight: bold;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.333;
  text-shadow: none;
  padding: 0.2rem 0.7rem;
  background-color: #e75735;
  border-radius: 4px;
}
.irs--simple .irs-from:before,
.irs--simple .irs-to:before,
.irs--simple .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}
.irs--simple .irs-grid-pol {
  background-color: #e1e4e9;
}
.irs--simple .irs-grid-text {
  color: #999;
}

/**
Ion.RangeSlider, 2.3.0
© Denis Ineshin, 2010 - 2018, IonDen.com
Build date: 2018-12-12 00:07:25
*/
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}
.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}
.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}
.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: default;
  z-index: 1;
}
.irs-handle.type_last {
  z-index: 2;
}
.irs-min,
.irs-max {
  position: absolute;
  display: block;
  cursor: default;
}
.irs-min {
  left: 0;
}
.irs-max {
  right: 0;
}
.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}
.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.irs-with-grid .irs-grid {
  display: block;
}
.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}
.irs-grid-pol.small {
  height: 4px;
}
.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0,0,0,0);
  z-index: 2;
}
.lt-ie9 .irs-disable-mask {
  background: #000;
  cursor: not-allowed;
}
.irs-disabled {
  opacity: 0.4;
}
.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}
.irs--flat {
  height: 40px;
}
.irs--flat.irs-with-grid {
  height: 60px;
}
.irs--flat .irs-line {
  top: 25px;
  height: 12px;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  top: 25px;
  height: 12px;
  background-color: #ed5565;
}
.irs--flat .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--flat .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}
.irs--flat .irs-handle {
  top: 22px;
  width: 16px;
  height: 18px;
  background-color: transparent;
}
.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background-color: #da4453;
}
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #a43540;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: #fff;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #ed5565;
  border-radius: 4px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}
.irs--flat .irs-grid-pol {
  background-color: #e1e4e9;
}
.irs--flat .irs-grid-text {
  color: #999;
}
.irs--big {
  height: 55px;
}
.irs--big.irs-with-grid {
  height: 70px;
}
.irs--big .irs-line {
  top: 33px;
  height: 12px;
  background-color: #fff;
  background: linear-gradient(to bottom, #ddd -50%, #fff 150%);
  border: 1px solid #ccc;
  border-radius: 12px;
}
.irs--big .irs-bar {
  top: 33px;
  height: 12px;
  background-color: #92bce0;
  border: 1px solid #428bca;
  background: linear-gradient(to bottom, #fff 0%, #428bca 30%, #b9d4ec 100%);
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5);
}
.irs--big .irs-bar--single {
  border-radius: 12px 0 0 12px;
}
.irs--big .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: rgba(66,139,202,0.5);
}
.irs--big .irs-handle {
  top: 25px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: #cbcfd5;
  background: linear-gradient(to bottom, #fff 0%, #b4b9be 30%, #fff 100%);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2), inset 0 0 3px 1px #fff;
  border-radius: 30px;
}
.irs--big .irs-handle.state_hover,
.irs--big .irs-handle:hover {
  border-color: rgba(0,0,0,0.45);
  background-color: #939ba7;
  background: linear-gradient(to bottom, #fff 0%, #919ba5 30%, #fff 100%);
}
.irs--big .irs-min,
.irs--big .irs-max {
  top: 0;
  padding: 1px 5px;
  color: #fff;
  text-shadow: none;
  background-color: #9f9f9f;
  border-radius: 3px;
}
.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  color: #fff;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #428bca;
  background: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  border-radius: 3px;
}
.irs--big .irs-grid-pol {
  background-color: #428bca;
}
.irs--big .irs-grid-text {
  color: #428bca;
}
.irs--modern {
  height: 55px;
}
.irs--modern.irs-with-grid {
  height: 55px;
}
.irs--modern .irs-line {
  top: 25px;
  height: 5px;
  background-color: #d1d6e0;
  background: linear-gradient(to bottom, #e0e4ea 0%, #d1d6e0 100%);
  border: 1px solid #a3adc1;
  border-bottom-width: 0;
  border-radius: 5px;
}
.irs--modern .irs-bar {
  top: 25px;
  height: 5px;
  background: #20b426;
  background: linear-gradient(to bottom, #20b426 0%, #18891d 100%);
}
.irs--modern .irs-bar--single {
  border-radius: 5px 0 0 5px;
}
.irs--modern .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(209,214,224,0.5);
}
.irs--modern .irs-handle {
  top: 37px;
  width: 12px;
  height: 13px;
  border: 1px solid #a3adc1;
  border-top-width: 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 0 0 3px 3px;
}
.irs--modern .irs-handle > i:nth-child(1) {
  position: absolute;
  display: block;
  top: -4px;
  left: 1px;
  width: 6px;
  height: 6px;
  border: 1px solid #a3adc1;
  background: #fff;
  transform: rotate(45deg);
}
.irs--modern .irs-handle > i:nth-child(2) {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 10px;
  height: 12px;
  background: #e9e6e6;
  background: linear-gradient(to bottom, #fff 0%, #e9e6e6 100%);
  border-radius: 0 0 3px 3px;
}
.irs--modern .irs-handle > i:nth-child(3) {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 5px;
  border-left: 1px solid #a3adc1;
  border-right: 1px solid #a3adc1;
}
.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
  border-color: #7685a2;
  background: #c3c7cd;
  background: linear-gradient(to bottom, #fff 0%, #919ba5 30%, #fff 100%);
}
.irs--modern .irs-handle.state_hover > i:nth-child(1),
.irs--modern .irs-handle:hover > i:nth-child(1) {
  border-color: #7685a2;
}
.irs--modern .irs-handle.state_hover > i:nth-child(3),
.irs--modern .irs-handle:hover > i:nth-child(3) {
  border-color: #48536a;
}
.irs--modern .irs-min,
.irs--modern .irs-max {
  top: 0;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  color: #fff;
  background-color: #d1d6e0;
  border-radius: 5px;
}
.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #20b426;
  color: #fff;
  border-radius: 5px;
}
.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #20b426;
}
.irs--modern .irs-grid {
  height: 25px;
}
.irs--modern .irs-grid-pol {
  background-color: #dedede;
}
.irs--modern .irs-grid-text {
  color: #c0c0c0;
  font-size: 13px;
}
.irs--sharp {
  height: 50px;
  font-size: 12px;
  line-height: 1;
}
.irs--sharp.irs-with-grid {
  height: 57px;
}
.irs--sharp .irs-line {
  top: 30px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
}
.irs--sharp .irs-bar {
  top: 30px;
  height: 2px;
  background-color: #ee22fa;
}
.irs--sharp .irs-bar--single {
  border-radius: 2px 0 0 2px;
}
.irs--sharp .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(0,0,0,0.5);
}
.irs--sharp .irs-handle {
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: #a804b2;
}
.irs--sharp .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #a804b2;
}
.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: #000;
}
.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: #000;
}
.irs--sharp .irs-min,
.irs--sharp .irs-max {
  color: #fff;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 4px;
  opacity: 0.4;
  background-color: #a804b2;
  border-radius: 2px;
}
.irs--sharp .irs-from,
.irs--sharp .irs-to,
.irs--sharp .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 4px;
  background-color: #a804b2;
  color: #fff;
  border-radius: 2px;
}
.irs--sharp .irs-from:before,
.irs--sharp .irs-to:before,
.irs--sharp .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #a804b2;
}
.irs--sharp .irs-grid {
  height: 25px;
}
.irs--sharp .irs-grid-pol {
  background-color: #dedede;
}
.irs--sharp .irs-grid-text {
  color: #c0c0c0;
  font-size: 13px;
}
.irs--round {
  height: 50px;
}
.irs--round.irs-with-grid {
  height: 65px;
}
.irs--round .irs-line {
  top: 36px;
  height: 4px;
  background-color: #dee4ec;
  border-radius: 4px;
}
.irs--round .irs-bar {
  top: 36px;
  height: 4px;
  background-color: #006cfa;
}
.irs--round .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--round .irs-shadow {
  height: 4px;
  bottom: 21px;
  background-color: rgba(222,228,236,0.5);
}
.irs--round .irs-handle {
  top: 26px;
  width: 24px;
  height: 24px;
  border: 4px solid #006cfa;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(0,0,255,0.3);
}
.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: #f0f6ff;
}
.irs--round .irs-min,
.irs--round .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
}
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #006cfa;
  color: #fff;
  border-radius: 4px;
}
.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #006cfa;
}
.irs--round .irs-grid {
  height: 25px;
}
.irs--round .irs-grid-pol {
  background-color: #dedede;
}
.irs--round .irs-grid-text {
  color: #c0c0c0;
  font-size: 13px;
}
.irs--square {
  height: 50px;
}
.irs--square.irs-with-grid {
  height: 60px;
}
.irs--square .irs-line {
  top: 31px;
  height: 4px;
  background-color: #dedede;
}
.irs--square .irs-bar {
  top: 31px;
  height: 4px;
  background-color: #000;
}
.irs--square .irs-shadow {
  height: 2px;
  bottom: 21px;
  background-color: #dedede;
}
.irs--square .irs-handle {
  top: 25px;
  width: 16px;
  height: 16px;
  border: 3px solid #000;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.irs--square .irs-handle.state_hover,
.irs--square .irs-handle:hover {
  background-color: #f0f6ff;
}
.irs--square .irs-min,
.irs--square .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0,0,0,0.1);
}
.irs--square .irs-from,
.irs--square .irs-to,
.irs--square .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #000;
  color: #fff;
}
.irs--square .irs-grid {
  height: 25px;
}
.irs--square .irs-grid-pol {
  background-color: #dedede;
}
.irs--square .irs-grid-text {
  color: #c0c0c0;
  font-size: 11px;
}

.jchart__summary {
  fill: #9d9d9d;
  font-family: Lato;
  font-weight: 200;
}

#instructions {
  max-width: 594px;
}
/*
  Player Skin Designer for Video.js
  http://videojs.com

  To customize the player skin edit 
  the CSS below. Click "details" 
  below to add comments or questions.
  This file uses some SCSS. Learn more  
  at http://sass-lang.com/guide)

  This designer can be linked to at:
  https://codepen.io/heff/pen/EarCt/left/?editors=010
*/
.video-js {
  border-radius: 3px;
  overflow: hidden;
/* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
  font-size: 10px;
/* The main font color changes the ICON COLORS as well as the text */
  color: #fff;
}
/* The "Big Play Button" is the play button that shows before the video plays.
   To center it set the align values to center and middle. The typical location
   of the button is the center, but there is trend towards moving it to a corner
   where it gets out of the way of valuable content in the poster image.*/
.vjs-default-skin .vjs-big-play-button {
/* The font size is what makes the big play button...big. 
     All width/height values use ems, which are a multiple of the font size.
     If the .video-js font-size is 10px, then 3em equals 30px.*/
  display: none;
  font-size: 3em;
/* We're using SCSS vars here because the values are used in multiple places.
     Now that font size is set, the following em values will be a multiple of the
     new font size. If the font-size is 3em (30px), then setting any of
     the following values to 3em would equal 30px. 3 * font-size. */
/* 1.5em = 45px default */
  line-height: 1.5em;
  height: 1.5em;
  width: 3em;
/* 0.06666em = 2px default */
  border: 0.06666em solid #fff;
/* 0.3em = 9px default */
  border-radius: 0.3em;
/* Align top left. 0.5em = 15px default */
  left: 0.5em;
  top: 0.5em;
}
/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
/* IE8 - has no alpha support */
  background-color: rgba(0,0,0,0.29);
}
.video-js .vjs-control-bar {
  height: 3.25rem;
}
/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
  background-color: #73859f;
  background-color: rgba(115,133,159,0.5);
}
/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: #fff;
}
/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
/* For IE8 we'll lighten the color */
  background: #bfc7d3;
/* Otherwise we'll rely on stacked opacities */
  background: rgba(115,133,159,0.5);
}
/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
/* For IE8 we'll lighten the color */
  background: #fff;
/* Otherwise we'll rely on stacked opacities */
  background: rgba(115,133,159,0.75);
}
.video-js .vjs-progress-holder {
  height: 0.3rem;
  border-radius: 3px;
  background-color: #e5e5e5;
}
.video-js .vjs-load-progress {
  background-color: transparent;
}
.video-js .vjs-load-progress div {
  background-color: transparent;
}
.video-js .vjs-play-progress {
  background-color: #e75735;
  border-radius: 3px;
}
.video-js .vjs-play-progress:before {
  content: "";
}
.video-js .vjs-play-control,
.video-js .vjs-fullscreen-control {
  width: 3.25rem;
}
.video-js .vjs-play-control:before {
  margin-top: 0.6rem;
}
.video-js .vjs-fullscreen-control:before {
  margin-top: -0.5rem;
  font-size: 2.5rem;
}
.video-js .vjs-fullscreen-control {
  background-color: #e75735;
  margin-left: 1.25rem;
}
.video-js .vjs-volume-menu-button,
.video-js .vjs-remaining-time,
.video-js .vjs-playback-rate {
  display: none;
}
.video-js .vjs-control-bar {
  display: flex !important;
}

