.tick{}

.tick__outer
  position: relative
  width: 1.6rem
  height: 1.6rem
  border-radius: 50%
  transition: .2s all

.tick__outer_state_on
  background-color: #4eb7a8

.tick__outer_state_off
  background-color: #e5e5e5

.tick__icon{}

.tick__icon_state_off
  fill: #c0c0c0

.tick__icon_state_on
  fill: white