.tick
  width: 1.6rem
  height: 1.6rem
  position: relative
  cursor: pointer
  
  &__fakeInput
    display: none

  &__fakeInput:checked + &__outer
    background-color: #4eb7a8
  
  &__outer
    width: 100%
    height: 100%
    display: block
    border-radius: 50%
    transition: .2s all
    background-color: #e5e5e5

  &__icon
    fill: #c0c0c0

  &__fakeInput:checked + &__outer &__icon
    fill: white