.tick
  &__outer
    position: relative
    width: 1.6rem
    height: 1.6rem
    border-radius: 50%
    transition: .2s all

    &_state
      &_on
        background-color: #4eb7a8

      &_off
        background-color: #e5e5e5

  &__icon
    &_state
      &_off
        fill: #c0c0c0

      &_on
        fill: white