.calendar-messenger-showcase
  display: flex
  justify-content: space-between
  
  &__el
    &_type
      &_messenger
        width: 19.6rem
        
      &_calendar
        width: 19rem

  &__el-content
    margin-top: 1.7rem
    