.bar__dropdownOption
  position: relative
  padding: .35rem .9rem .5rem .9rem
  cursor: pointer;
  transition: .3s all
  text-decoration: underline

.bar__dropdownOption:hover
  background-color: #4eb7a8
  color: white

.bar__dropdownOption:focus
  background-color: #4eb7a8
  color: white