include ../title/title
include ../chart/chart

mixin charts-showcase(options = {})
    -
        const {data = [], title = ""} = options;
    .charts-showcase
        .charts-showcase__title
            +title({text: title, level: 3})
        .charts-showcase__el
            for chartData in data
                .charts-showcase__el-content
                    +chart(chartData)