mixin icon(options)
    -
        var options = options ? options : {};
        var {image = "", alt = "image"} = options;
    .icon&attributes(attributes)
        .icon__outer
            img.icon__image(src=image alt=alt)