.irs--simple {
  height: 100%;
}
.irs--simple.irs-with-grid {
  height: 60px;
}
.irs--simple .irs-line {
  top: 2.6rem;
  height: .35rem;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--simple .irs-bar {
  top: 2.6rem;
  height: .35rem;
  background-color: transparent;
}
.irs--simple .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--simple .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}
.irs--simple .irs-handle {
  top: 1.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: transparent;
}
.irs--simple .irs-handle > i:first-child {
  cursor: pointer;
  position: absolute;
  display: block;
  top: .6rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #e75735;
}
.irs--simple .irs-handle.state_hover > i:first-child,
.irs--simple .irs-handle:hover > i:first-child {
  background-color: #bf3e1f;
}
.irs--simple .irs-handle.state_hover > i:first-child,
.irs--simple .irs-handle:focus > i:first-child {
  background-color: #bf3e1f;
}
.irs--simple .irs-min,
.irs--simple .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
  display: none
}
.irs--simple .irs-from,
.irs--simple .irs-to,
.irs--simple .irs-single {
  color: white;
  font-size: .9rem;
  line-height: 1.333;
  text-shadow: none;
  padding: .2rem .7rem;
  background-color: #e75735;
  border-radius: 4px;
}
.irs--simple .irs-from:before,
.irs--simple .irs-to:before,
.irs--simple .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}
.irs--simple .irs-grid-pol {
  background-color: #e1e4e9;
}
.irs--simple .irs-grid-text {
  color: #999;
}