.bars-users-showcase
  display: flex
  justify-content: space-between

  &__bars-container
    width: 48.5%

  &__users-container
    width: 48.5%

  &__bars-content
    margin-top: 1.3rem
    
  &__users-content
    padding-left: 1.3rem
    margin-top: 2rem
    
    & ~ & 
      margin-top: 1.85rem