mixin toggleMix(options)
	-
		var options = options ? options : {};
		var state = options.state ? options.state : 'off';

	button.toggle(type='button' data-state=state)
		.toggle__outer(class='' + (' toggle__outer_state_' + state))
			.toggle__handle(class='' + (' toggle__handle_state_' + state))
			.toggle__text(class='' + (' toggle__text_state_' + state))= state