.block
  width: 100%
  
  &__el
    &_margin
      &_normal
        margin-top: .8rem
        
      &_big
        margin-top: 1.2rem
        
      &_extra
        margin-top: 2rem

    &:first-child
      margin-top: 0