.block
  width: 100%

  &__el
    &_margin
      &_buttons
        margin-top: 4.8rem

      &_buttons-round
        margin-top: 2.3rem

      &_events
        margin-top: 2.2rem

      &_sliders
        margin-top: .5rem

      &_calendar-messages
        margin-top: 1.7rem

      &_video
        margin-top: 1.5rem

      &_small
        margin-top: .8rem

      &_normal
        margin-top: .8rem

      &_big
        margin-top: 1.2rem

      &_extra
        margin-top: 2rem

      &_mega
        margin-top: 3.2rem

    &:first-child
      margin-top: 0