include ../button/button
include ../wrapper/wrapper
include ../title/title

mixin buttons-showcase-block(options)
    -
        options = options || {};
        const {buttonsData = []} = options;
    .block
        .block__title
            +title({text: "Standard buttons", level: 3})
        for buttonLine, index in buttonsData
            if index == 0
                .block__el.block__el_margin_buttons
                    +wrapper({justify: "around", size: "82perc", align: "end"})
                        for buttonData in buttonLine
                            +button(buttonData)
            if index > 0
                .block__el.block__el_margin_big
                    +wrapper({justify: "around", size: "82perc", align: "end"})
                        for buttonData in buttonLine
                            +button(buttonData)