mixin noteMix(options)
	-
		var options 	= options ? options : {};
		var type 		= options.type ? options.type : 'news',
			title		= options.title ? options.title : 'title',
			image 		= options.image ? options.image : '',
			date 		= options.date ? options.date : 'Today',
			dateDay 	= options.dateDay ? options.dateDay : '00',
			dateMonth 	= options.dateMonth ? options.dateMonth : 'January';
	.note
		.note__outer
			img.note__image(src=image)
			.note__info(class='' + (' note__info_type_' + type))
				case type
					when 'news'
						.note__title(class='' + (' note__title_type_' + type))= title
						.note__date(class='' + (' note__date_type_' + type))= date
						if block
							block
					when 'event'
						.note__date(class='' + (' note__date_type_' + type))
							.note__dateDay= dateDay
							.note__dateMonth= dateMonth
						.note__title(class='' + (' note__title_type_' + type))= title
						if block
							block

mixin noteButtonMix(options)
	-
		var options = options ? options : {};
	.note__button
		if block
			block

mixin noteDescriptionMix(options)
	-
		var options = options ? options : {};
		var type = options.type ? options.type : 'news';
	.note__description(class='' + (' note__description_type_' + type))
		if block
			block
