include ../title/title
include ../map/map

mixin location-showcase-block(options = {})
    -
        const {locationData = {}} = options;
    .block
        .block__title
            +title({text: "Location", level: 3})
        .block__el.block__el_margin_extra
            +map(locationData)