include ../title/title
include ../wrapper/wrapper
include ../chart/chart

mixin charts-showcase-block(options)
    -
        options = options || {};
        const {chartsData = []} = options;
    .block
        .block__title
            +title({text: "Percentages / Pie charts", level: 3})
        .block__el.block__el_margin_normal
            +wrapper({justify: "around"})
                for chartData in chartsData
                    +chart(chartData)