include ../button-round/button-round
include ../title/title
include ../wrapper/wrapper

mixin buttons-round-showcase-block(options = {})
    -
        const {buttonsData = []} = options;
    .block
        .block__title
            +title({text: "Arrow buttons", level: 3})
        for buttonLine in buttonsData
            .block__el.block__el_margin_buttons-round
                +wrapper({justify: "around", size: "75perc"})
                    for buttonData in buttonLine
                        +button-round(buttonData)