mixin chartMix(options)
	-
		var options = options ? options : {};
		var id = options.id ? options.id : '',
			form = options.form ? options.form : 'progress';
	.chart(id= id class='' + ('chart_type_' + form))