.content-uikit-page
  &__body
    margin: 2rem 0

  &__section
    &_type
      &_normal
        margin-top: 3rem

      &_large
        margin-top: 3.6rem

      &_calendar-messenger
        margin-top: 3.4rem

      &_charts
        margin-top: 3.2rem

      &_sliders
        margin-top: 1.3rem

      &_stages
        margin-top: 2rem

      &_form
        margin-top: 3.8rem

      &_form
        margin-top: 3.8rem

      &_bars-users
        margin-top: 4.5rem

      &_events
        margin-top: 6.2rem
    
    &:first-child
      margin-top: 0