include ../title/title
include ../stepbar/stepbar

mixin stepbar-showcase-block(options)
    -
        options = options || {};
        const {stepbarData = {}} = options;
    .block
        .block__title
            +title({text: "Stages", level: 3})
        .block__el.block__el_margin_normal
            +stepbar(stepbarData)