.calendar
  width: 100%
  min-width: 13rem
  overflow: hidden
  border-radius: 3px

.calendar__header
  width: 100%
  height: 7.4rem
  background-color: #e75735
  overflow: hidden

.calendar__today
  margin-top: .6rem
  font-size: 5.3rem
  text-align: center
  font-family: Lato
  font-weight: 200
  color: white

.calendar__holder{}