mixin calendar(options)
    -
        options = options || {};
        const {size = "normal"} = options;
        const day = (new Date()).getDate();
    .calendar(class="" + (" calendar_size_" + size))
        .calendar__header
            .calendar__today= day
        .calendar__holder.js-calendar__holder