//- Миксин создаёт календарь.
mixin calendar()
    -
        var day = (new Date()).getDate();
    .calendar&attributes(attributes)
        .calendar__header
            .calendar__today= day
        .calendar__holder.js-calendar__holder