.article
  &__el
    margin-top: .8rem
    
    &:first-child
      margin-top: 0

  &__title
    font-family: Lato, Arial, sans-serif
    font-wight: bold
    font-size: 1.25rem
    text-transform: uppercase
    text-align: start
    text-decoration: underline

  &__content
    margin-top: .4rem
    text-indent: 1rem