mixin article(options)
    -
        options = options || {};
        const {data = []} = options;
    article.article
        for item in data
            .article__el
                h3.article__title= item.title
                .article__content= item.text