.article{}

.article__el
  margin-top: .8rem
  
.article__el:first-child
  margin-top: 0

.article__title
  font-family: Lato
  font-wight: bold
  font-size: 1.25rem
  text-transform: uppercase
  text-align: start
  text-decoration: underline

.article__body
  margin-top: .4rem
  text-indent: 1rem