include ../title/title
include ../wrapper/wrapper
include ../form/form
include ../toggle/toggle
include ../tick/tick

mixin form-showcase-block(options = {})
    -
        const {formData = {}, togglesData = [], ticksData = []} = options;
    .block
        .block__title
            +title({text: "Form elements", level: 3})
        .block__el.block__el_margin_form
            +wrapper({centering: false})
                +wrapper({size: "48perc", centering: false})
                    +form(formData)
                +wrapper({size: "48perc", centering: false, justify: "unset"})
                    .block
                        .block__el.block__el_margin_normal
                            .block
                                .block__title
                                    +title({text: "Toggles", level: 3})
                                .block__el.block__el_margin_extra
                                    +wrapper({size: "half"})
                                        for toggleData in togglesData
                                            +toggle(toggleData)
                        .block__el.block__el_margin_tick
                            .block
                                .block__title
                                    +title({text: "Tick boxes", level: 3})
                                .block__el.block__el_margin_extra
                                    +wrapper({size: "22perc"})
                                        for tickData in ticksData
                                            +tick(tickData)