include ../chart/chart

mixin rate(options)
    -
        options = options || {};
        const {title = "", id = ""} = options;
    .rate
        .rate__title= title
        .rate__value
            +chart({id: id})