.button__inner_type_box
	width: 100%;
	transform: translateY(-3px)
	border-width: 1px
	border-style: solid
	border-radius: 2px
	z-index: 0

.button:active .button__inner_type_box
	transform: translateY(0)