.button__content_color_aquamarine
	color: #4eb7a8
	fill: #4eb7a8

.button:hover .button__content_color_aquamarine
	color: white
	fill: white

.button:active .button__content_color_aquamarine
	color: white
	fill: white