.map__button
	display: inline-block
	width: 2rem; height: 2rem
	margin-top: 0.3rem; margin-right: 1rem
	float: right
	transition: .1s all

.map__button::last-child
	margin-right: 0

.map__button:hover
.map__button:focus
	transform: scale(1.1)

.map__button:active
	transform: scale(.9)