.note
  min-width: 19.65rem

  &_size
    &_min
      width: 19.65rem
      
    &_auto
      width: 100%

  &__outer
    display: flex
    width: 100%
    justify-content: space-between
    border-radius: 3px
    overflow: hidden

  &__imageBox
    position: relative
    width: 33%
    flex-shrink: 0

  &__image
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute

  &__info
    width: 67%
    min-height: 11.45rem
    padding: 1.5rem

    &_type
      &_event
        background-color: #4eb7a8

      &_news
        background-color: #e75735

  &__title
    display: block
    font-style: normal
    color: white
    font-family: Lato, Arial, sans-serif

    &_type
      &_event
        margin-top: 1rem
        font-weight: bold
        font-size: .8rem
        text-transform: uppercase

      &_news
        font-weight: 200
        font-size: 2rem
        line-height: .85

  &__date
    display: inline-block
    font-style: normal
    color: white
    font-family: Lato, Arial, sans-serif

    &_type
      &_eventDay
        font-size: 5rem
        font-weight: 200
        line-height: .8

      &_eventMonth
        font-weight: 200
        font-size: 2rem

      &_news
        font-weight: bold
        margin-top: .9rem
        font-size: .75rem
        text-transform: uppercase

  &__description
    font-size: .75rem
    font-family: Lato
    font-weight: 450
    color: white

    &_type
      &_event
        margin-top: .3rem

      &_news
        margin-top: .8rem

  &__button
    width: 88%
    margin: 1.15rem auto 0 auto