include ../button/button

mixin note(options = {})
    -
        const {
            size = "auto",
            type = "news",
            title = "title",
            image = "",
            date = "Today",
            dateDay = "00",
            dateMonth = "January",
            description = "",
            alt = "noteAlternate"
        } = options;
    .note(class="" + ("note_size_" + size))
        .note__outer
            .note__imageBox
                img.note__image(src=image alt=alt)
            .note__info(class="" + (" note__info_type_" + type))
                case type
                    when "news"
                        em.note__title(class="" + (" note__title_type_" + type))= title
                        .note__dateBox
                            em.note__date(class="" + (" note__date_type_" + type))= date
                        .note__description(class="" + (" note__description_type_" + type))= description
                    when "event"
                        .note__dateBox(class="" + (" note__date_type_" + type))
                            em.note__date(class="" + (" note__date_type_" + type) + "Day")= dateDay
                            em.note__date(class="" + (" note__date_type_" + type) + "Month")= dateMonth
                        em.note__title(class="" + (" note__title_type_" + type))= title
                        .note__description(class="" + (" note__description_type_" + type))= description
                        .note__button
                            +button({form: "box-mini", size: "auto", theme: "aquamarine", content: "Add to calendar"})