extends ./template/template

block variables
    -
        var page = {};
        page.pageTitle = "Contacts";
        page.headerTitle = "Contacts";

block body
    main.base
        section.base__section
            +block
                +map({title: "Мы здесь!", street: "** Predzavodskaya ST", city: "Seversk, RU", coordinates: '{"lat": 56.590212, "lng": 84.939791}'})
        section.base__section
            +block({title: {text: "Наши менеджеры", level: 2}})
                +wrapper({justify: "around"})
                    +wrapper(style="width: 18.2rem")
                        +user({color: "gray", name: "Евгений Миллер", profession: "Менеджер", logo: "./static/images/wg-logo.jpg"})
                    +wrapper(style="width: 18.2rem")
                        +user({theme: "aquamarine", name: "Евгений Миллер", profession: "Менеджер", theme: "aquamarine", logo: "./static/images/lkl-logo.png"})
        section.base__section
            +block({title: {text: "Напишите нам!", level: 2}})
                +block({title: {text: "На почту", level: 3}})
                    +form({data: [
                        {type: "input", properties: {type: "email", name:"email", required: true, placeholder: "E-mail"}},
                        {type: "input", properties: {name: "name", required: true, placeholder: "Ваше имя"}},
                        {type: "input", properties: {form: "box", name: "message", placeholder: "Ваше сообщение"}},
                        {text: "Ваш город", type: "dropdown", properties: {type: "dropdown", defaultText: "Выберите город", data: [
                            {value: "Tomsk", text: "Томск"},
                            {value: "Seversk", text: "Северск"},
                            {value: "Asino", text: "Асино"}
                        ]}},
                    ]})
                +block({title: {text: "Или онлайн", level: 3}})
                    +messenger({
                        size: "auto",
                        title: "Евгений Миллер",
                        logo: "./static/images/wg-logo.jpg",
                        messages: [
                            {sender: "interlocutor", text: "Здравствуйте, могу я Вам чем-то помочь?"}
                        ]
                    })