include ../blocks/content/content-contacts-page/content-contacts-page

doctype html
html
    // Шапка страницы
    head
        meta(charset="utf-8")
        title Contacts
        link(rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon")
        meta(name="description" content="UIKIT")
        meta(name="Keywords" content="UIKIT")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/5-unsafe/video-js.css")
        link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
    // Тело странциы
    body
        +content-contacts-page({
            title: "Contacts",
            mapData: {
                title: "Мы здесь!", street: "** Predzavodskaya ST", city: "Seversk, RU", coordinates: '{"lat": 56.590212, "lng": 84.939791}'
            },
            menagersData: {
                title: "Наши менеджеры",
                data: [
                    {color: "gray", name: "Евгений Миллер", profession: "Менеджер", logo: "./static/images/wg-logo.jpg"},
                    {theme: "aquamarine", name: "Евгений Миллер", profession: "Менеджер", theme: "aquamarine", logo: "./static/images/lkl-logo.png"}
                ]
            },
            contactUsData: {
                title: "Напишите нам!",
                formData: {
                    title: "На почту",
                    data: [
                        {type: "input", properties: {type: "email", name:"email", required: true, placeholder: "E-mail"}},
                        {type: "input", properties: {name: "name", required: true, placeholder: "Ваше имя"}},
                        {type: "input", properties: {form: "box", name: "message", placeholder: "Ваше сообщение"}},
                        {text: "Ваш город", type: "dropdown", properties: {type: "dropdown", defaultText: "Выберите город", data: [
                            {value: "Tomsk", text: "Томск"},
                            {value: "Seversk", text: "Северск"},
                            {value: "Asino", text: "Асино"}
                        ]}},
                    ]
                },
                messengerData: {
                    title: "Или онлайн",
                    data: {
                        size: "auto",
                        title: "Евгений Миллер",
                        logo: "./static/images/wg-logo.jpg",
                        messages: [
                            {sender: "interlocutor", text: "Здравствуйте, могу я Вам чем-то помочь?"}
                        ]
                    }
                }
            }
        })
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6UQbE2epfLfDfa2uaXCx1soXdAfSFU-c&callback=initMap")
        script(src="https://vjs.zencdn.net/5-unsafe/video.js")
        script(type="text/javascript" src="./scripts/vendors.js")
        script(type="text/javascript" src="./scripts/base.js")