extends ./template/template

block variables
    -
        var page = {};
        page.pageTitle = "Home";
        page.headerTitle = "Home";

block body
    main.base
        section.base__section
            +block
                +video({src: "./static/videos/intro8.2.mp4", preview:  "./static/images/lkl-logo.png", title: "intro8.2", author: "mr lKlAlRlAlBlIlNl", source: "https://youtu.be/y9Z-gDcCSmU"})
        section.base__section
            +block({title: {text: "Блог", level: 2, align: "center"}})
                +article({data: [
                    {
                        title: "Конкурс! #shirtsstyle",
                        text: "Мы объявляем конкурс, в призовой фонд которого мы выделяем: 2 (два) Mac mini; MacBook Pro в качестве главного приза! Для участия в конкурсе необходимо купить нашем магазине любой товар на сумму не менее 300 рублей. Результаты конкурса будут оглашены 3 сентября 2019 года."
                    },
                    {
                        title: "Нам полгода! #shirtsstyle",
                        text: "С радостью хотим сообщить Вам, что нашему магазину уже полгода.. И это только начало! Уже сейчас у нас сделали более 1500 заказов, о нас узнаёт всё больше людей, за это мы хотим отблагодарить Вас - на целый месяц мы запускаем скидку в 25% на весь ассортимент!"
                    },
                    {
                        title: "Обновление ассортимента! #shirtsstyle",
                        text: "Мы рады Вам сообщить, что мы, прислушавшись к вашим просьбам, решили обновить наш ассортимент и добавили к списку наших товаров свитшот, шапку, свитер и рубашку-поло."
                    },
                    {
                        title: "Мы открылись! #shirtsstyle",
                        text: "Сегодня мы рады сообщить Вам прекрасную новость - мы открылись! Наш магазин, начиная с сегоднешнего дня, будет годет готов предоставить вам широкий выбор футболок разых расцветок, сшитых из натурального хлопка."
                    },
                ]})
        section.base__section
            +block({title: {text: "События", level: 2}})
                +note({image: "./static/images/wg-logo.jpg", title: "Конкурс", date: "3 Сентября 2019", description: "Мы объявляем конкурс, в призовой фонд которого мы выделяем: 2 (два) Mac mini; MacBook Pro в качестве главного приза! Для участия в конкурсе необходимо купить нашем магазине любой товар на сумму не менее 300 рублей. Результаты конкурса будут оглашены 3 сентября 2019 года. "})