include ../blocks/content/home-page-content
include ../blocks/header/header

doctype html
html
    // Шапка страницы
    head
        meta(charset="utf-8")
        title Home
        link(rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon")
        meta(name="description" content="UIKIT")
        meta(name="Keywords" content="UIKIT")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/5-unsafe/video-js.css")
        link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
    // Тело странциы
    body
        +home-page-content({
            title: "Home",
            videoData: {
                src: "./static/videos/intro.mp4", preview:  "./static/images/lkl-logo.png", title: "intro", author: "mr lKlAlRlAlBlIlNl", source: "https://youtu.be/y9Z-gDcCSmU"
            },
            blogData: {
                title: "Блог",
                data: [
                    {
                        title: "Конкурс! #shirtsstyle",
                        text: "Мы объявляем конкурс, в призовой фонд которого мы выделяем: 2 (два) Mac mini; MacBook Pro в качестве главного приза! Для участия в конкурсе необходимо купить нашем магазине любой товар на сумму не менее 300 рублей. Результаты конкурса будут оглашены 3 сентября 2019 года."
                    },
                    {
                        title: "Нам полгода! #shirtsstyle",
                        text: "С радостью хотим сообщить Вам, что нашему магазину уже полгода.. И это только начало! Уже сейчас у нас сделали более 1500 заказов, о нас узнаёт всё больше людей, за это мы хотим отблагодарить Вас - на целый месяц мы запускаем скидку в 25% на весь ассортимент!"
                    },
                    {
                        title: "Обновление ассортимента! #shirtsstyle",
                        text: "Мы рады Вам сообщить, что мы, прислушавшись к вашим просьбам, решили обновить наш ассортимент и добавили к списку наших товаров свитшот, шапку, свитер и рубашку-поло."
                    },
                    {
                        title: "Мы открылись! #shirtsstyle",
                        text: "Сегодня мы рады сообщить Вам прекрасную новость - мы открылись! Наш магазин, начиная с сегоднешнего дня, будет годет готов предоставить вам широкий выбор футболок разых расцветок, сшитых из натурального хлопка."
                    },
                ]
            },
            eventsData: {
                title: "События",
                data: [
                    {
                        image: "./static/images/wg-logo.jpg",
                        title: "Конкурс",
                        date: "3 Сентября 2019",
                        description: "Мы объявляем конкурс, в призовой фонд которого мы выделяем: 2 (два) Mac mini; MacBook Pro в качестве главного приза! Для участия в конкурсе необходимо купить нашем магазине любой товар на сумму не менее 300 рублей. Результаты конкурса будут оглашены 3 сентября 2019 года. "
                    }
                ]
            }
        })
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6UQbE2epfLfDfa2uaXCx1soXdAfSFU-c&callback=initMap")
        script(src="https://vjs.zencdn.net/5-unsafe/video.js")
        script(type="text/javascript" src="./scripts/vendors.js")
        script(type="text/javascript" src="./scripts/base.js")