include ../static/styles/BEM/mixinsList

doctype html
html
	head
		title UIkit
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/5-unsafe/video-js.css")
		link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
		script(type="text/javascript" src="./scripts/vendors.js")
		script(type="text/javascript" src="./scripts/main.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6UQbE2epfLfDfa2uaXCx1soXdAfSFU-c&callback=initMap" async defer)
		script(src='https://vjs.zencdn.net/5-unsafe/video.js')
	body
		+baseMix
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 Box buttons
				+wrapperMix({justify: 'around'})(style="width: 75%")
					+buttonMix({form: "boxMini", content:"button"})
					+buttonMix({form: "box", content:"button"})
					+buttonMix({form: "box", content:"button", theme: "orange"})
					+buttonMix({form: "boxMini", content:"button", theme: 'blocked'})
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 Round buttons
				+wrapperMix({justify: 'around'})(style="width: 50%")
					+buttonMix({form: "round", content: "rightArrow", theme: 'orange'})
					+buttonMix({form: "round", content: "rightArrow", theme: 'orange'})
					+buttonMix({form: "round", content: "leftArrow"})
					+buttonMix({form: "round", content: "leftArrow", theme: 'blocked'})
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 Charts
				+wrapperMix({justify: 'around'})
					+chartMix({id: 'chartTestFirst'})
					+chartMix({id: 'chartTestSecond'})
					+chartMix({id: 'chartTestThird', type: 'pie'})
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 Sliders
				+wrapperMix({justify: 'between'})
					+sliderMix({id: 'sliderSimpleTest'})(style='width: 45%')
					+sliderMix({id: 'sliderPipsTest'})(style='width: 45%')
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 Stepbar
				+wrapperMix({justify: 'between'})
					+stepbarMix({id: 'stepbarTest'})(style='width: 100%')
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 Form / bars
				+wrapperMix({justify: 'between'})
					+formMix(style="width: 45%")
						+formElMix
							+formElEntryMix({size: 'fill'})
								+inputMix({type: 'email', name:'email', required: true, placeholder: 'E-mail'})
						+formElMix
							+formElEntryMix({size: 'fill'})
								+inputMix({type: 'password', name: 'password', required: true, placeholder: 'Password'})
						+formElMix
							+formElEntryMix({size: 'fill'})
								+inputMix({form: 'box', name: 'message', placeholder: 'Your message'})
						+formElMix
							+formElTextMix
								| The camera is
							+formElEntryMix
								+toggleMix({name: 'laser', value: 'false'})
						+formElMix
							+formElTextMix
								| Bomb the moon?
							+formElEntryMix
								+tickMix({name:'bomb', value: 'true'})
						+formElMix
							+formElEntryMix({size: 'fill'})
								+barMix({type: 'dropdown', name: 'kolbasi'})
									+barOptionMix({value: 'kolbasi bogatirskie'})
										| Колбасы богатырские
									+barOptionMix({value: 'kolbasi bovarskie'})
										| Колбасы боварские
									+barOptionMix({value: 'kolbasi habibskie'})
										| Колбасы хабибские
									+barOptionMix({value: 'kolbasi of dogs'})
										| Колбасы собачьи
						+formSubmit
							+buttonMix({form: "box", content: "submit", type: "submit"})
					+wrapperMix({justify: 'unset', centering: 'false'})(style="width: 45%")
						+wrapperMix({justify: 'unset', centering: 'false'})
							+barMix({type: 'dropdown'})(style="width: 100%")
								+barOptionMix({value: 'kolbasi bogatirskie'})
									| Колбасы богатырские
								+barOptionMix({value: 'kolbasi bovarskie'})
									| Колбасы боварские
								+barOptionMix({value: 'kolbasi habibskie'})
									| Колбасы хабибские
								+barOptionMix({value: 'kolbasi of dogs'})
									| Колбасы собачьи
						+wrapperMix({justify: 'unset', centering: 'false'})
							+barMix({type: 'search'})(style="width: 100%")
								+inputMix({type: 'text', name: 'search', color: 'orange', placeholder: 'text query', radius: 'left'})
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 Users
				+wrapperMix({justify: 'around'})
					+userMix({color: 'gray',  name: 'Evgeniy Miller', profession: 'whiteGloom'})
						+iconMix({image: require('../static/images/logo.png')})
					+userMix({theme: 'aquamarine', profession: 'profession', theme: 'aquamarine'})
						+iconMix({image: require('../static/images/logo.png')})
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 News / events
				+wrapperMix({justify: 'between'})
					+noteMix({image: require('../static/images/logo.png'), title: 'This is a title!', date: '23 November 2001'})(style="width: 19.65rem")
						+noteDescriptionMix({type: 'news'})
							| There must be some description..
					+noteMix({type: 'event', image: require('../static/images/logo.png'), title: 'this is a title', dateDay: '23', dateMonth: 'Nov'})(style="width: 19.65rem")
						+noteDescriptionMix({type: 'event'})
							| This is a description, I assure you.
						+noteButtonMix
							+buttonMix({form: "boxEvent", content: "button", theme: 'aquamarineAlternate'})
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 Map
				+wrapperMix
					+mapMix({title: 'Meet us!', street: '** Predzavodskaya ST', city: 'Seversk, RU', coordinates: '{"lat": 56.590212, "lng": 84.939791}'})(style="width: 100%")
			+baseSectionMix
				+wrapperMix
					+titleMix
						h1.h1 Calendar / messenger
				+wrapperMix({justify: 'between'})
					+calendarMix
					+messengerMix
						+messengerHeaderMix({title: 'whiteGloom'})
							+messengerImageMix
								+iconMix({image: require('../static/images/logo.png')})
						+messengerBodyMix({messages: [{sender: 'interlocutor', text: 'Hi! I\'m a Globglogabgalab. I love books, and this basement is a true treasure trove.'}]})
							+messengerEntryMix
								+inputMix({form: 'box', name: 'entry', placeholder: 'Your message'})
							+messengerSendMix
								+buttonMix({text:"button"})
			+baseSectionMix
				+titleMix
					h1.h1 Video
				+wrapperMix
					+videoMix({src: require('../static/videos/intro8.2.mp4'), preview:  require('../static/images/logo.png'), title: 'intro8.2', author: 'mr lKlAlRlAlBlIlNl', source: 'https://youtu.be/y9Z-gDcCSmU'})(style="width: 100%")
