include ../static/styles/BEM/mixinsList

doctype html
html
	head
		title UIkit
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
		script(type="text/javascript" src="./scripts/vendors.js")
		script(type="text/javascript" src="./scripts/main.js")
	body
		div(style="width: 700px")
			h1.h1 UIkit
			div
				+buttonMix({form: "boxMini", text:"button"})
				+buttonMix({form: "box", text:"button"})
				+buttonMix({form: "box", text:"button", color: "orange"})
				+buttonMix({form: "boxMini", text:"button", color: "orange"})
			div
				+buttonMix({form: "round", background: "leftArrow"})
				+buttonMix({form: "round", background: "leftArrow", blocked: true})
			div(style="justify-content: space-between; display: flex")
				div(style="width: 8.1rem")
					+chartMix({id: 'chartTestFirst'})
				div(style="width: 8.1rem")
					+chartMix({id: 'chartTestSecond'})
				div(style="width: 8.1rem")
					+chartMix({id: 'chartTestThird', form: 'pie'})
			+sliderMix({id: 'sliderSimpleTest'})
			+sliderMix({id: 'sliderPipsTest'})
			+stepbarMix({id: 'stepbarTest'})
			div(style="width: 287px")
				+formMix
					+formElMix
						+formElEntryMix({size: 'fill'})
							+inputMix({type: 'email', name:'email', required: true, placeholder: 'E-mail'})
					+formElMix
						+formElEntryMix({size: 'fill'})
							+inputMix({type: 'password', name: 'password', required: true, placeholder: 'Password'})
					+formElMix
						+formElEntryMix({size: 'fill'})
							+inputMix({form: 'box', name: 'message', placeholder: 'Your message'})
					+formElMix
						+formElTextMix
							| The laser is
						+formElEntryMix
							+toggleMix({name: 'laser', value: 'false'})
					+formElMix
						+formElTextMix
							| Bomb the sinagogue?
						+formElEntryMix
							+tickMix({name:'bomb', value: 'true'})
					+formElMix
						+formElEntryMix({size: 'fill'})
							+barMix({type: 'dropdown', name: 'kolbasi'})
								+barOptionMix({value: 'kolbasi bogatirskie'})
									| Колбасы богатырские
								+barOptionMix({value: 'kolbasi bovarskie'})
									| Колбасы боварские
								+barOptionMix({value: 'kolbasi habibskie'})
									| Колбасы хабибские
								+barOptionMix({value: 'kolbasi of dogs'})
									| Колбасы собачьи
					+formSubmit
						+buttonMix({form: "box", text: "submit", type: "submit"})
				div(style="margin-top: .8rem")
					+barMix({type: 'dropdown'})
						+barOptionMix({value: 'kolbasi bogatirskie'})
							| Колбасы богатырские
						+barOptionMix({value: 'kolbasi bovarskie'})
							| Колбасы боварские
						+barOptionMix({value: 'kolbasi habibskie'})
							| Колбасы хабибские
						+barOptionMix({value: 'kolbasi of dogs'})
							| Колбасы собачьи
				div(style="margin-top: .8rem")
					+barMix({type: 'search'})
						+inputMix({type: 'text', name: 'search', placeholder: 'text query', radius: 'left'})
			div(style="margin-top: .8rem")
				+userMix({color: 'gray', name: 'Evgeniy Miller', profession: 'Dolbaeb'})
					+iconMix({image: require('../static/images/logo.png')})
			div(style="margin-top: .8rem")
				+userMix({color: 'aquamarine'})
					+iconMix({image: require('../static/images/logo.png')})