doctype html
html
	head
		title UIkit
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
		script(type="text/javascript" src="scripts.js")
	body
		h1.h1 UIkit