include ../static/BEM/mixinsList

doctype html
html
	head
		title UIkit
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
		script(type="text/javascript" src="./scripts/vendors.js")
		script(type="text/javascript" src="./scripts/main.js")
	body
		h1.h1 UIkit
		+buttonMix({type: "boxMini", text:"button"})
		+buttonMix({type: "box", text:"button", color: "orange"})
		+buttonMix({type: "box", text:"button", blocked:true})
		+buttonMix({type: "round", background: "leftArrow"})
		+buttonMix({type: "round", background: "leftArrow", blocked: true})
		.test()