include ../blocks/button/button
include ../blocks/chart/chart
include ../blocks/slider/slider
include ../blocks/stepbar/stepbar
include ../blocks/toggle/toggle
include ../blocks/tick/tick
include ../blocks/form/form
include ../blocks/input/input
include ../blocks/user/user
include ../blocks/icon/icon
include ../blocks/note/note
include ../blocks/map/map
include ../blocks/calendar/calendar
include ../blocks/messenger/messenger
include ../blocks/video/video
include ../blocks/header/header
include ../blocks/h1/h1
include ../blocks/h2/h2
include ../blocks/h3/h3
include ../blocks/hr/hr
include ../blocks/wrapper/wrapper
include ../blocks/article/article
include ../blocks/p/p
include ../blocks/block/block
include ../blocks/dropdown/dropdown
include ../blocks/searchbar/searchbar
include ../blocks/rate/rate