include ../blocks/content/uikit-page-content
include ../blocks/header/header

doctype html
html
    // Шапка страницы
    head
        meta(charset="utf-8")
        title UI Kit
        link(rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon")
        meta(name="description" content="UIKIT")
        meta(name="Keywords" content="UIKIT")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/5-unsafe/video-js.css")
        link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
    // Тело странциы
    body
        +header({title: "UI Kit"})
        main.base
            +uikit-page-content({
                videoData: {
                    src: "./static/videos/intro.mp4",
                    preview:  "./static/images/lkl-logo.png",
                    title: "New Zeland Landscapes Timelapse", author: "Bevan Percival",
                    source: "https://youtu.be/y9Z-gDcCSmU"
                },
                messengerData: {
                    title: "Sarah Brown",
                    logo: "./static/images/logo-girl.png",
                    inputPlaceholder: "Yeah that's sounds great. See you then.",
                    messages: [
                        {sender: "interlocutor", text: "Hey! So are we cool to meet at the art gallery? Say 8pm"}
                    ]
                },
                locationData: {
                    title: "Meet us!",
                    street: "1259 california st",
                    city: "san francisco, ca",
                    coordinates: '{"lat": 56.590212, "lng": 84.939791}'
                },
                newsData: {
                    image: "./static/images/biker.png",
                    title: "It's all going dowhill",
                    date: "24 August 2013",
                    description: "There must be some description.."
                },
                eventData: {
                    type: "event",
                    image: "./static/images/new-york.png",
                    title: "this is the title",
                    dateDay: "24",
                    dateMonth: "Aug",
                    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                },
                barsUsersData: {
                    formData: {
                        submit: false, data: [
                            {type: "searchbar"},
                            {type: "dropdown", properties: {
                                type: "dropdown", data: [
                                    {value: "Tomsk", text: "Томск"},
                                    {value: "Kemerovo", text: "Кемерово"},
                                    {value: "Novosibirsk", text: "Новосибирск"},
                                    {value: "Krasnoyarsk", text: "Красноярск"}
                                ]}
                            }
                        ]
                    },
                    usersData: [
                        {
                            color: "gray",
                            name: "John Smith",
                            profession: "UX Designer",
                            logo: "./static/images/logo-boy.png"
                        },
                        {
                            theme: "aquamarine",
                            name: "Sarah Brown",
                            profession: "Developer",
                            theme: "aquamarine",
                            logo: "./static/images/logo-girl.png"
                        }
                    ]
                },
                formData: {
                    formData: {
                        data: [
                            {type: "input", properties: {type: "email", name:"email", required: true, placeholder: "E-mail"}},
                            {type: "input", properties: {type: "password", name: "password", required: true, placeholder: "Password"}},
                            {type: "input", properties: {form: "box", name: "message", placeholder: "Your message"}},
                        ]
                    },
                    togglesData: [
                        {name: "toggles", id: "toggleFirst"},
                        {name: "toggles", checked: true, id: "toggleSecond"}
                    ],
                    ticksData: [
                        {name: "toggles", id: "tickFirst"},
                        {name: "toggles", checked: true, id: "tickSecond"}
                    ]
                },
                stepbarData: {
                    id: "stepbarTest"
                },
                slidersData: [
                    {id: "sliderSimpleTest", size: "min"},
                    {id: "sliderPipsTest", size: "min"}
                ],
                chartsData: [
                    {id: "0percExample"},
                    {id: "38percExample"},
                    {id: "62percExample"},
                    {id: "89percExample"},
                    {id: "pieExample", type: "pie"}
                ],
                roundButtonsData: [
                    [
                        {},
                        {content: "leftArrow"},
                        {blocked: true},
                        {content: "leftArrow", blocked: true},
                        {theme:"aquamarineAlternate"},
                        {theme:"aquamarineAlternate", content: "leftArrow"}
                    ]
                ],
                buttonsData: [
                    [
                        {form: "boxMini", content:"button", theme: "aquamarineAlternate"},
                        {form: "box", content:"button", theme: "aquamarineAlternate"},
                        {form: "box", content:"button", theme: "orangeAlternate"},
                        {form: "boxMini", content:"button", theme: "orangeAlternate"}
                    ],
                    [
                        {form: "boxMini", content:"button", theme: "aquamarineAlternate"},
                        {form: "box", content:"button", theme: "aquamarineAlternate"},
                        {form: "box", content:"button", theme: "orangeAlternate"},
                        {form: "boxMini", content:"button", theme: "orangeAlternate"}
                    ],
                    [
                        {form: "boxMini", content:"button", theme: "aquamarine"},
                        {form: "box", content:"button", theme: "aquamarine"},
                        {form: "box", content:"button", theme: "orange"},
                        {form: "boxMini", content:"button", theme: "orange"}
                    ]
                ]
            })
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6UQbE2epfLfDfa2uaXCx1soXdAfSFU-c&callback=initMap")
        script(src="https://vjs.zencdn.net/5-unsafe/video.js")
        script(type="text/javascript" src="./scripts/vendors.js")
        script(type="text/javascript" src="./scripts/base.js")