include ../blocks/content/content-uikit-page/content-uikit-page

doctype html
html
    // Шапка страницы
    head
        meta(charset="utf-8")
        title UI Kit
        link(rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon")
        meta(name="description" content="UIKIT")
        meta(name="Keywords" content="UIKIT")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/5-unsafe/video-js.css")
        link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
    // Тело странциы
    body
        +content-uikit-page({
            title: "UI Kit",
            videoData: {
                title: "Video",
                data: {
                    src: "./static/videos/intro.mp4",
                    preview:  "./static/images/lkl-logo.png",
                    title: "New Zeland Landscapes Timelapse", author: "Bevan Percival",
                    source: "https://youtu.be/y9Z-gDcCSmU"
                }
            },
            messengerCalendarData: {
                calendarData: {
                    title: "Calendar"
                },
                messengerData: {
                    title: "Messaging",
                    data: {
                        title: "Sarah Brown",
                        logo: "./static/images/logo-girl.png",
                        inputPlaceholder: "Yeah that's sounds great. See you then.",
                        messages: [
                            {sender: "interlocutor", text: "Hey! So are we cool to meet at the art gallery? Say 8pm"}
                        ]
                    }
                }
            },
            locationData: {
                title: "Location",
                data: {
                    title: "Meet us!",
                    street: "1259 california st",
                    city: "san francisco, ca",
                    coordinates: '{"lat": 56.590212, "lng": 84.939791}'
                }
            },
            newsEventsData: {
                title: "News & events",
                newsData: {
                    image: "./static/images/biker.png",
                    title: "It's all going dowhill",
                    date: "24 August 2013",
                    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Send condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
                },
                eventData: {
                    type: "event",
                    image: "./static/images/new-york.png",
                    title: "this is the title",
                    dateDay: "24",
                    dateMonth: "Aug",
                    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                }
            },
            barsUsersData: {
                formData: {
                    title: "search / drop down",
                    data: {
                        submit: false, data: [
                            {margin: "big", type: "searchbar"},
                            {margin: "big", type: "searchbar", properties: { value: "I've not found what i'm looking for..." }},
                            {margin: "big", type: "dropdown", properties: {
                                type: "dropdown", data: [
                                    {value: "Tomsk", text: "Томск"},
                                    {value: "Kemerovo", text: "Кемерово"},
                                    {value: "Novosibirsk", text: "Новосибирск"},
                                    {value: "Krasnoyarsk", text: "Красноярск"}
                                ]}
                            }
                        ]
                    }
                },
                usersData: {
                    title: "User profile",
                    data: [
                        {
                            color: "gray",
                            name: "John Smith",
                            profession: "UX Designer",
                            logo: "./static/images/logo-boy.png"
                        },
                        {
                            theme: "aquamarine",
                            name: "Sarah Brown",
                            profession: "Developer",
                            theme: "aquamarine",
                            logo: "./static/images/logo-girl.png"
                        }
                    ]
                }
            },
            formData: {
                title: "Form elements",
                formData: {
                    data: [
                        {type: "input", properties: {type: "email", name:"email", required: true, placeholder: "E-mail"}},
                        {type: "input", properties: {type: "password", name: "password", required: true, placeholder: "Password"}},
                        {type: "input", properties: {form: "box", name: "message", placeholder: "Your message"}},
                    ]
                },
                togglesData: [
                    {name: "toggles", id: "toggleFirst"},
                    {name: "toggles", checked: true, id: "toggleSecond"}
                ],
                ticksData: [
                    {name: "toggles", id: "tickFirst"},
                    {name: "toggles", checked: true, id: "tickSecond"}
                ]
            },
            stepbarData: {
                title: "Stages",
                data: {
                    id: "stepbarTest"
                }
            },
            slidersData: {
                title: "Sliders",
                data: [
                    {
                        id: "sliderSimpleTest",
                        min: 0,
                        max: 100,
                        from: 40,
                        grid: "false",
                        skin: 'simple',
                    },
                    {
                        id: "sliderPipsTest",
                        min: 0,
                        max: 100,
                        from: 75,
                        grid: "true",
                        skin: 'pips',
                    }
                ]
            },
            chartsData: {
                title: "Percentages / Pie charts",
                data: [
                    {value: 0},
                    {value: 38},
                    {value: 62},
                    {value: 89},
                    {type: "pie", values: [
                        {
                            value: 11,
                            color: "#747474"
                        },
                        {
                            value: 26,
                            color: "#e75735",
                            offset: 11
                        },
                        {
                            value: 30,
                            color: "#4eb7a8",
                            offset: 37
                        },
                        {
                            value: 33,
                            color: "#e5e5e5",
                            offset: 67
                        }
                    ]}
                ]
            },
            roundButtonsData: {
                title: "Arrow buttons",
                data: [
                    [
                        {},
                        {content: "leftArrow"},
                        {blocked: true},
                        {content: "leftArrow", blocked: true},
                        {theme:"aquamarine-alternate"},
                        {theme:"aquamarine-alternate", content: "leftArrow"}
                    ]
                ]
            },
            buttonsData: {
                title: "Standard buttons",
                data: [
                    [
                        {form: "box-mini", content:"button", theme: "aquamarine-alternate"},
                        {form: "box", content:"button", theme: "aquamarine-alternate"},
                        {form: "box", content:"button", theme: "orange-alternate"},
                        {form: "box-mini", content:"button", theme: "orange-alternate"}
                    ],
                    [
                        {form: "box-mini", content:"button", theme: "aquamarine-alternate"},
                        {form: "box", content:"button", theme: "aquamarine-alternate"},
                        {form: "box", content:"button", theme: "orange-alternate"},
                        {form: "box-mini", content:"button", theme: "orange-alternate"}
                    ],
                    [
                        {form: "box-mini", content:"button", theme: "aquamarine"},
                        {form: "box", content:"button", theme: "aquamarine"},
                        {form: "box", content:"button", theme: "orange"},
                        {form: "box-mini", content:"button", theme: "orange"}
                    ]
                ]
            }
        })
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6UQbE2epfLfDfa2uaXCx1soXdAfSFU-c&callback=initMap")
        script(src="https://vjs.zencdn.net/5-unsafe/video.js")
        script(type="text/javascript" src="./scripts/vendors.js")
        script(type="text/javascript" src="./scripts/base.js")