include ../blocks/content/uikit-page-content
include ../blocks/header/header

doctype html
html
    // Шапка страницы
    head
        meta(charset="utf-8")
        title UI Kit
        link(rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon")
        meta(name="description" content="UIKIT")
        meta(name="Keywords" content="UIKIT")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/5-unsafe/video-js.css")
        link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
    // Тело странциы
    body
        +header({title: "UI Kit"})
        main.base
            +uikit-page-content
        script(type="text/javascript" src="./scripts/vendors.js")
        script(type="text/javascript" src="./scripts/base.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6UQbE2epfLfDfa2uaXCx1soXdAfSFU-c&callback=initMap" async defer)
        script(src="https://vjs.zencdn.net/5-unsafe/video.js")