include ../title/title
include ../slider/slider

mixin sliders-showcase(options = {})
    -
        const {data = {}, title = ""} = options;
    .sliders-showcase
        .sliders-showcase__title
            +title({text: title, level: 3})
        .sliders-showcase__el
            for sliderData in data
                .sliders-showcase__el-content
                    +slider(sliderData)