.button__outer_theme_aquamarineAlternate
  background-color: #28a290

.button:hover .button__outer_theme_aquamarineAlternate
.button:focus .button__outer_theme_aquamarineAlternate
.button:active .button__outer_theme_aquamarineAlternate
  background-color: #2b7a6e