.button__outer_theme_orange
  background-color: #e75735

.button:hover .button__outer_theme_orange
.button:focus .button__outer_theme_orange
.button:active .button__outer_theme_orange
  background-color: #bf3e1f