.video
  width: 100%

  &__outer
    width: 100%
    position: relative

  &__info
    position: absolute
    padding: 1.8rem 2.7rem
    opacity: 0
    transition: .3s all
    z-index: 1

    &:hover
    &:focus
      opacity: 1

  &__title
    display: block
    font-style: normal
    text-transform: capitalize
    font-family: Lato, Arial, sans-serif
    font-weight: 200
    font-size: 2.5rem
    color: white

  &__author
    display: block
    color: white
    font-size: .8rem
    font-family: Lato, Arial, sans-serif
    font-weight: bold
    font-style: normal
    text-transform: uppercase

    &::before
      content: 'from '

  &__link
    display: block
    margin-top: 1.6rem
    text-decoration: none
    color: white