.button__inner_color_aquamarine
	background-color: white
	border-color: #4eb7a8

.button:hover .button__inner_color_aquamarine
	background-color: #4eb7a8

.button:active .button__inner_color_aquamarine
	background-color: #4eb7a8

.button:focus .button__inner_color_aquamarine
	background-color: #4eb7a8
