mixin button-round(options = {})
    -
        let {type = "button", blocked = false, content = "rightArrow", theme = "aquamarine"} = options;

    button.button-round.js-button-round(type=type class="" +
        (blocked ? " button-round_blocked" : "") +
        (" button-round_theme_" + theme))
        .button-round__outer(class="" +
            (" button-round__outer_theme_" + theme) +
            (blocked ? " button-round__outer_blocked" : ""))
            .button-round__rippleEffect.js-button-round__rippleEffect(class="" + 
                (!blocked ? " button-round__rippleEffect_active" : ""))
            svg.button-round__content(viewbox="0 0 44 44" class="" +
                (" button-round__content_theme_" + theme) +
                (blocked ? " button-round__content_blocked" : ""))
                case content
                    when "rightArrow"
                        g(transform="translate(25, 11) rotate(45)")
                            rect(width="4" height="17")
                            rect(width="17" height="4" y="13")

                    when "leftArrow"
                        g(transform="translate(20, 11) rotate(45)")
                            rect(width="4" height="17" x="13")
                            rect(width="17" height="4")