include ../user/user
include ../title/title

mixin menagers-block(options = {})
    -
        const {data = [], title = ""} = options;
    section.menager-block
        .menager-block__title
            +title({text: title})
        .menager-block__el
            for item in data
                +user(item)