include ../user/user
include ../title/title

mixin menagers-block(options = {})
    -
        const {data = []} = options;
    section.menager-block
        .menager-block__title
            +title({text: "Наши менеджеры"})
        .menager-block__el
            for item in data
                +user(item)