mixin h1(options)
    -
        var options = options ? options : {};
        var {text = "", align = "center"} = options;
    h1.h1(class="" + (" h1_align_" + align))&attributes(attributes)= text