.h1
  font-family: Lato
  font-weight: bold
  font-size: 2.5rem
  text-transform: uppercase
  border-bottom: .2rem solid #4eb7a8

.h1_align_center
  text-align: center
  
.h1_align_start
  text-align: start