.button__inner_theme_aquamarineAlternate
  background-color: white
  border-color: #28a290

.button:hover .button__inner_theme_aquamarineAlternate
.button:focus .button__inner_theme_aquamarineAlternate
.button:active .button__inner_theme_aquamarineAlternate
  background-color: #249181
  border-color: #249181