include ../title/title
include ../video/video

mixin video-showcase(options = {})
    -
        const {videoData = {}} = options;
    .video-showcase
        .video-showcase__title
            +title({text: "Video", level: 3})
        .video-showcase__el
            +video(videoData)