include ../title/title
include ../video/video

mixin video-showcase(options = {})
    -
        const {data = {}, title = ""} = options;
    .video-showcase
        .video-showcase__title
            +title({text: title, level: 3})
        .video-showcase__el
            +video(data)