.messenger__message
	position: relative
	margin-top: .75rem
	padding: 1.1rem 1.3rem .7rem
	border-radius: 3px
	font-size: .8rem
	border-color: white

.messenger__message:first-child
	margin-top: 6px