.button
  &_blocked
    cursor: default
  
  &_size
    &_auto
      width: 100%

  // Outer
  &__outer
    display: flex
    position: relative
    width: 100%
    transition: .2s all

    ~/ &&_blocked
    ~/:hover &&_blocked
    ~/:active &&_blocked
    ~/:focus &&_blocked
      background-color: #e5e5e5

    &_form
      &_box
        border-radius: 2px
        margin-top: 3px

      &_boxMini
      &_boxEvent
        border-radius: 2px
        margin-top: 2px

    &_theme
      &_aquamarine
        background-color: #4eb7a8
        
      ~/:hover &_aquamarine
      ~/:focus &_aquamarine
      ~/:active &_aquamarine
        background-color: #28a290

      &_aquamarineAlternate
        background-color: #28a290

      ~/:hover &_aquamarineAlternate
      ~/:focus &_aquamarineAlternate
      ~/:active &_aquamarineAlternate
        background-color: #2b7a6e

      &_orange
        background-color: #e75735

      ~/:hover &_orange
      ~/:focus &_orange
      ~/:active &_orange
        background-color: #bf3e1f

  &__inner
    transition: .2s all

    ~/ &&_blocked
    ~/:hover &&_blocked
    ~/:focus &&_blocked
    ~/:active &&_blocked
      background-color: #e5e5e5
      border-color: #e5e5e5

    &_form
      &_box
        width: 100%
        min-width: 7.8rem
        transform: translateY(-3px)
        border-width: 1px
        border-style: solid
        border-radius: 3px
        z-index: 0

      ~/:active &_box
        transform: translateY(0)

      &_boxEvent
        width: 100%
        min-width: 7.8rem
        transform: translateY(-2px)
        border-width: 1px
        border-style: solid
        border-radius: 3px
        z-index: 0

      ~/:active &_boxEvent
        transform: translateY(0)

      &_boxMini
        width: 100%
        min-width: 5.2rem
        transform: translateY(-2px)
        border-width: 1px
        border-style: solid
        border-radius: 3px
        z-index: 0

      ~/:active &_boxMini
        transform: translateY(0)

    &_theme
      &_aquamarine
        background-color: white
        border-color: #4eb7a8

      ~/:hover &_aquamarine
      ~/:focus &_aquamarine
      ~/:active &_aquamarine
        background-color: #4eb7a8

      &_aquamarineAlternate
        background-color: white
        border-color: #28a290

      ~/:hover &_aquamarineAlternate
      ~/:focus &_aquamarineAlternate
      ~/:active &_aquamarineAlternate
        background-color: #249181
        border-color: #249181

      &_orange
        background-color: white
        border-color: #e75735

      ~/:hover &_orange
      ~/:focus &_orange
      ~/:active &_orange
        background-color: #e75735

  &__rippleEffect
    position: absolute
    height: 100%
    width: 100%
    background-position: center
    opacity: 0
    transition: .5s all
    z-index: 1

    ~/:hover &_active
      background: radial-gradient(circle, white 1%, transparent 1%) center/15000%

    ~/:active &_active
      background-size: 100%
      transition: 0s all
      opacity: .4

  // Content
  &__content
    display: block
    transition: .2s all

    ~/ &&_blocked
    ~/:active &&_blocked
    ~/:focus &&_blocked
    ~/:hover &&_blocked
      color: white
      fill: white

    &_form
      &_box
        font-family: Lato
        font-weight: bold
        text-transform: uppercase
        font-size: .8rem
        padding: .55rem 2.3rem

      &_boxEvent
        font-family: Lato
        font-weight: bold
        text-transform: uppercase
        font-size: .7rem
        padding: .3rem 1.1rem

      &_boxMini
        font-family: Lato
        font-weight: bold
        text-transform: uppercase
        font-size: .7rem
        padding: .2rem 1.1rem

    &_theme
      &_aquamarine
        color: #4eb7a8
        fill: #4eb7a8

      ~/:hover &_aquamarine
      ~/:focus &_aquamarine
      ~/:active &_aquamarine
        color: white
        fill: white

      &_aquamarineAlternate
        color: #4eb7a8
        fill: #4eb7a8

      ~/:hover &_aquamarineAlternate
      ~/:focus &_aquamarineAlternate
      ~/:active &_aquamarineAlternate
        color: white
        fill: white

      &_orange
        color: #e34a26
        fill: #e34a26

      ~/:hover &_orange
      ~/:focus &_orange
      ~/:active &_orange
        color: white
        fill: white