.dropdown__button
  width: 2.2rem
  height: 100%
  border-radius: 0 3px 3px 0
  fill: white
  flex-shrink: 0
  transition: .2s all
  cursor: pointer
  background-color: #4eb7a8

.dropdown__button:hover
.dropdown__button:focus
  background-color: #28a290