.wrapper
  display: flex
  flex-wrap: wrap

  &_align
    &_end
      align-items: flex-end

  &_size
    &_full
      width: 100%

    &_half
      width: 50%

    &_48perc
      width: 48%

    &_75perc
      width: 75%

    &_82perc
      width: 82%

    &_22perc
      width: 22%

  &_centering
    margin-left: auto
    margin-right: auto

  &_justify
    &_around
      justify-content: space-around

    &_between
      justify-content: space-between