.wrapper{}

.wrapper_centering
  margin-left: auto
  margin-right: auto

.wrapper_justify_around
  justify-content: space-around
  display: flex

.wrapper_justify_between
  justify-content: space-between
  display: flex

.wrapper_justify_unset
  display: block