include ../title/title
include ../form/form
include ../messenger/messenger

mixin contact-us-block(options = {})
    -
        const {formData = [], messengerData = {}} = options;
    section.contact-us-block
        .contact-us-block__title
            +title({text: "Напишите нам!"})
        section.contact-us-block__content
            .contact-us-block__title
                +title({text: "На почту", level: 3})
            .contact-us-block__content
                +form({data: formData})
        section.contact-us-block__content
            .contact-us-block__title
                +title({text: "Или онлайн", level: 3})
            .contact-us-block__content
                +messenger(messengerData)