include ../title/title
include ../form/form
include ../messenger/messenger

mixin contact-us-block(options = {})
    -
        const {formData = [], messengerData = {}, title = ""} = options;
    section.contact-us-block
        .contact-us-block__title
            +title({text: title})
        section.contact-us-block__content
            .contact-us-block__title
                +title({text: formData.title, level: 3})
            .contact-us-block__content
                +form({data: formData.data})
        section.contact-us-block__content
            .contact-us-block__title
                +title({text: messengerData.title, level: 3})
            .contact-us-block__content
                +messenger(messengerData.data)