include ../title/title
include ../form/form
include ../messenger/messenger

mixin contact-us-block(options)
    -
        options = options || {};
        const {formData = [], messengerData = {}} = options;
    .block
        .block__title
            +title({text: "Напишите нам!"})
        .block__el
            .block
                .block__title
                    +title({text: "На почту", level: 3})
                .block__el
                    +form({data: formData})
        .block__el
            .block
                .block__title
                    +title({text: "Или онлайн", level: 3})
                .block__el
                    +messenger(messengerData)