mixin h2(options)
    -
        var options = options ? options : {};
        var {text = "", align = "center"} = options;
    header
        h2.h2(class="" + (" h2_align_" + align))&attributes(attributes)= text