mixin h3(options)
    -
        var options = options ? options : {};
        var {text = "", align = "center"} = options;
    header
        h3.h3(class="" + (" h3_align_" + align))&attributes(attributes)= text