.button__outer_color_aquamarine
	background-color: #4eb7a8

.button:hover .button__outer_color_aquamarine
.button:focus .button__outer_color_aquamarine
.button:active .button__outer_color_aquamarine
	background-color: #28a290