.button__outer_color_orange
	background-color: #bf3e1f

.button:hover .button__outer_color_orange
.button:focus .button__outer_color_orange
.button:active .button__outer_color_orange
	background-color: #bf3e1f