.button__outer_color_aquamarine
	background-color: #28a290

.button:hover .button__outer_color_aquamarine
	background-color: #28a290

.button:active .button__outer_color_aquamarine
	background-color: #28a290

.button:focus .button__outer_color_aquamarine
	background-color: #28a290