include ../article/article

mixin blog-block(options = {})
    -
        const {data = []} = options;
    .blog-block
        .blog-block__title
            +title({text: "Блог"})
        .blog-block__el
            +article({data: data})
