include ../article/article
include ../title/title

mixin blog-block(options = {})
    -
        const {data = [], title = ""} = options;
    .blog-block
        .blog-block__title
            +title({text: title})
        .blog-block__el
            +article({data: data})
