//- Миксин создаёт базовый элемент страницы.
//- Ожидаются блоки-секции.
mixin baseMix(options)
    -
        var options = options ? options : {};
    main.base&attributes(attributes)
        if block
            block

//- Миксин создаёт секцию на странице.
//- Ожидается любое содержимое.
mixin baseSectionMix(options)
    -
        var options = options ? options : {};
    section.base__section&attributes(attributes)
        if block
            block