include ../paragraph/paragraph
include ../title/title

mixin about-block(options = {})
    -
        const {data = [], title = ""} = options;
    section.about-block
        .about-block__title
            +title({text: title})
        .about-block__el
            for item in data
                +paragraph({text: item.text})