include ../p/p
include ../title/title

mixin about-block(options = {})
    -
        const {data = []} = options;
    section.about-block
        .about-block__title
            +title({text: "Кратко о компании"})
        .about-block__el
            for item in data
                +p({text: item.text})