.input__entry
	width: 100%
	border: none
	padding: .35rem .9rem .5rem .9rem
	box-sizing: border-box
	flex-shrink: 1
	color: #888888
	background-color: #e5e5e5
	transition: .4s all

.input__entry:focus
	background-color: #e75735
	color: white