include ../button/button
include ../toggle/toggle
include ../tick/tick
include ../dropdown/dropdown
include ../searchbar/searchbar

mixin form(options = {})
    -
        const {name = "form", data = [], submitTheme = "aquamarine-alternate", submit = true} = options;
    form.form.js-form(name=name)
        for item in data
            .form__el(class="" + (" form__el_margin_" + (item.margin ? item.margin : "normal")))
                if item.text
                    .form__el-text= item.text
                .form__el-entry.js-form__el-entry(class="" + (" form__el-entry_size_" + (item.text ? "auto" : "fill")))
                    case item.type
                        when "input"
                            +input(item.properties)
                        when "dropdown"
                            +dropdown(item.properties)
                        when "toggle"
                            +toggle(item.properties)
                        when "tick"
                            +tick(item.properties)
                        when "searchbar"
                            +searchbar(item.properties)
        if submit
            .form__submit
                +button({form: "box", theme: submitTheme, content: "submit", type: "submit"})