include ../button/button
include ../toggle/toggle
include ../tick/tick

mixin form(options)
    -
        var options = options ? options : {};
        var {name = "form", data = [], submitTheme = "aquamarine"} = options;

    form.form.js-form(name=name)&attributes(attributes)
        for item in data
            .form__el
                if item.text
                    .form__elText= item.text
                .form__elEntry.js-form__elEntry(class="" + (" form__elEntry_size_" + (item.text ? "auto" : "fill")))
                    case item.type
                        when "input"
                            +input(item.properties)
                        when "dropdown"
                            +dropdown(item.properties)
                        when "toggle"
                            +toggle(item.properties)
                        when "tick"
                            +tick(item.properties)
        .form__submit
            +button({form: "box", theme: submitTheme, content: "submit", type: "submit"})